
<div class="custom-crafted-header text-center columns">
  <h2>Introducing "Crafted by You"</h2>
  <h3>Your Design, Out Craft</h3>
  <ul class="custom-crafted-steps">
    <li class="active"><span>Category</span></li>
    <li><span>Design</span></li>
    <li><span>Submit</span></li>
  </ul>
</div>
<div class="custom-crafted-list columns">
  <p class="list-title">First tell us what you want made</p>
  <div class="list-wrapper">
    <p class="text">Select a Furniture category</p>
    <ul>
      <li>
        <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/category/crafted-by-you-1.jpg" alt="Dining Room &amp; Kitchen"/></a>
          <p class="custom-crafted-name">Dining Room & Kitchen</p>
        </div>
      </li>
      <li>
        <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/category/crafted-by-you-2.jpg" alt="Living Room"/></a>
          <p class="custom-crafted-name">Living Room</p>
        </div>
      </li>
      <li>
        <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/category/crafted-by-you-3.jpg" alt="Office"/></a>
          <p class="custom-crafted-name">Office</p>
        </div>
      </li>
      <li>
        <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/category/crafted-by-you-4.jpg" alt="Bedroom"/></a>
          <p class="custom-crafted-name">Bedroom</p>
        </div>
      </li>
      <li>
        <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/category/crafted-by-you-5.jpg" alt="Bathroom"/></a>
          <p class="custom-crafted-name">Bathroom</p>
        </div>
      </li>
      <li>
        <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/category/crafted-by-you-6.jpg" alt="Outdoor"/></a>
          <p class="custom-crafted-name">Outdoor</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="custom-crafted-sublist columns">
  <p class="text">Select a Furniture category</p>
  <ul>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-1.jpg" alt="Media cabinet"/></a>
        <p class="custom-crafted-name">Media cabinet</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-2.jpg" alt="Bookcase"/></a>
        <p class="custom-crafted-name">Bookcase</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-3.jpg" alt="Coffee table"/></a>
        <p class="custom-crafted-name">Coffee table</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-4.jpg" alt="End table"/></a>
        <p class="custom-crafted-name">End table</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-5.jpg" alt="Sofa"/></a>
        <p class="custom-crafted-name">Sofa</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-6.jpg" alt="Chair"/></a>
        <p class="custom-crafted-name">Chair</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-7.jpg" alt="Ottoman"/></a>
        <p class="custom-crafted-name">Ottoman</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-8.jpg" alt="Bench"/></a>
        <p class="custom-crafted-name">Bench</p>
      </div>
    </li>
    <li>
      <div class="item-content-wrapper"><a href="#" class="item-image"><img src="http://dev.crafted.furniture/media/catalog/product/crafted-sub-item-9.jpg" alt="Other"/></a>
        <p class="custom-crafted-name">Other</p>
      </div>
    </li>
  </ul>
</div>
<div class="custom-crafted-cta columns"><a href="#" class="back-to">Back to Previous page</a></div>