/* From the collection */

.collection-block {
  margin-top: 1.875rem;
  padding-top: 1.25rem;
  border-top: 1px solid #f3f2f2;
}

.collection-block .collection-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5625rem;
  overflow: hidden;
}

.collection-block .collection-title h4 {
  font-size: 1.5625rem;
}

.collection-block .collection-title .collection-link {
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
  font-size: 0.875rem;
  margin-top: 1rem;
  color: #666;
}

.collection-block .collection-title .collection-link:hover {
  color: #5fc4c1;
}

.collection-block .products-grid {
  border: none;
}

.collection-block .products-grid .price-box {
  margin-top: 0;
}

.collection-block .products-grid .price-box .old-price {
  margin-top: -0.1875rem;
  display: block;
}

.collection-block .products-grid .price-box .old-price .price {
  text-transform: uppercase;
  font-size: 0.625rem;
}

.collection-block .products-grid .price-box .regular-price .price {
  font-size: 0.875rem;
}

.collection-block .products-grid .price-box .price {
  line-height: 1;
  font-family: "Montserrat-Regular";
}

.collection-block ul {
  margin-left: -1.5625rem;
}

.collection-block ul li {
  width: 50%;
  border: none;
  margin-top: 1.25rem;
  padding: 0 0 0 1.5625rem;
  box-sizing: border-box;
}

.collection-block ul li .name {
  font-size: 0.875rem;
  margin: 1.125rem 0 0;
}

.collection-block + .modern-promise {
  border: none;
  margin-top: 0.625rem;
}

.jcarousel-wrapper .jcarousel-control-prev,
.jcarousel-wrapper .jcarousel-control-single-prev {
  left: 1rem;
}

.jcarousel-wrapper .jcarousel-control-next,
.jcarousel-wrapper .jcarousel-control-single-next {
  right: 1rem;
}

@media only screen and (max-width: 360px) {
  .collection-block ul li {
    width: 100%;
  }
}

@media only screen and (min-width: 40.063em) {
  .collection-block .collection-title h4 {
    float: left;
    margin-right: 0.625rem;
  }
  .collection-block .collection-title .collection-link {
    float: right;
  }
  .collection-block ul li {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 64.063em) {
  .collection-block ul li {
    width: 20%;
  }
}

/* End from the collection */


/* Crafted by you */

.custom-crafted-header {
  margin-top: 2.375rem;
}

.custom-crafted-header h2,
.custom-crafted-header h3 {
  font-family: "Montserrat-Regular", Arial, sans-serif;
}

.custom-crafted-header h2 {
  font-size: 2rem;
}

.custom-crafted-header h3 {
  font-size: 1.5rem;
}

.custom-crafted-header .custom-crafted-steps {
  font-size: 0;
  margin-top: 2.5rem;
}

.custom-crafted-steps li {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 0.875rem;
  display: inline-block;
  padding: 1.25rem 2.4375rem 0;
  text-transform: uppercase;
  position: relative;
  color: #a0a0a2;
}

.custom-crafted-steps li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 2px solid #eee;
}

.custom-crafted-steps li:first-child:before {
  left: 50%;
}

.custom-crafted-steps li:last-child:before {
  right: 50%;
}

.custom-crafted-steps li span:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -0.5rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 100%;
  background: #fff;
}

.custom-crafted-steps li span:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: 50%;
  margin-left: -0.3125rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background: #ddd;
}

.custom-crafted-steps li.active {
  color: #000;
}

.custom-crafted-steps li.active span:after {
  background: #5ec5c1;
}

.custom-crafted-list {
  margin: 2.1875rem 0 2.5rem;
}

.custom-crafted-list .list-title {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 1.125rem;
  padding-bottom: 0.4375rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #cbcbcb;
}

.custom-crafted-list .list-wrapper {
  padding: 0.625rem 0.9375rem 0;
  background: #f1f2ed;
  overflow: hidden;
}

.custom-crafted-list p.text,
.custom-crafted-sublist p.text {
  font-size: 1.3125rem;
  color: #404040;
  line-height: 1;
}

.custom-crafted-list ul,
.custom-crafted-sublist ul {
  overflow: hidden;
  font-size: 0;
  margin: 0.5625rem 0 2.75rem -0.3125rem;
}

.custom-crafted-list ul li,
.custom-crafted-sublist ul li {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.custom-crafted-list ul:hover li,
.custom-crafted-sublist ul:hover li {
  opacity: 0.6;
}

.custom-crafted-list ul:hover li:hover,
.custom-crafted-list ul:hover li .active,
.custom-crafted-sublist ul:hover li:hover,
.custom-crafted-sublist ul:hover li .active {
  opacity: 1;
}

.custom-crafted-list .item-content-wrapper,
.custom-crafted-sublist .item-content-wrapper {
  display: inline-block;
}

.custom-crafted-list .item-image,
.custom-crafted-sublist .item-image {
  padding: 0.1875rem;
  border: 2px solid transparent;
  display: block;
}

.custom-crafted-list li:hover .item-image,
.custom-crafted-list li.active .item-image,
.custom-crafted-sublist li:hover .item-image,
.custom-crafted-sublist li.active .item-image {
  border-color: #0d92a5;
}

.custom-crafted-list .custom-crafted-name,
.custom-crafted-sublist .custom-crafted-name {
  font-size: 0.8125rem;
  margin: 0 0.3125rem;
  color: #404040;
}

.custom-crafted-sublist {
  padding: 0.625rem 0.9375rem 0;
  overflow: hidden;
}

.custom-crafted-cta {
  margin: 2.5rem auto;
  text-align: center;
}

.custom-crafted-cta .back-to {
  font-family: "Montserrat-Regular";
  font-size: 0.875rem;
  color: #5fc4c1;
  background: url("../images/addcart.png") no-repeat;
  background-position: 0 -51px;
  padding-left: 16px;
}

@media only screen and (min-width: 40.063em) {
  .custom-crafted-list ul li,
  .custom-crafted-sublist ul li {
    width: 16.66667%;
  }
}

@media only screen and (min-width: 64.063em) {
  .custom-crafted-list ul li,
  .custom-crafted-sublist ul li {
    width: 16.66667%;
  }
}

@media only screen and (max-width: 420px) {
  .custom-crafted-header h2 {
    font-size: 1.5rem;
  }
  .custom-crafted-header h3 {
    font-size: 1.2rem;
  }
  .custom-crafted-list .list-title,
  .custom-crafted-list p.text,
  .custom-crafted-sublist p.text {
    font-size: 1rem;
  }
  .custom-crafted-list ul li,
  .custom-crafted-sublist ul li {
    width: 50%;
    text-align: center;
  }
  .custom-crafted-steps li {
    padding: 1.25rem 1rem 0;
  }
}
/* End crafted by you */
