@media only screen and (min-width:770px){
    .category-products .products-grid{display: table;}
    .products-grid li.item{display: table-cell; float: none;}
}
@media only screen and (max-width:1200px){
    /*footer*/
    #footer{
        padding-top: 10px;
        margin-top: 20px;
    }
    #footer .socialconnect{
        float: none;
        margin: auto auto 30px auto;
    }
    #footer .footer-links{
        width: 100%;
        float: none;
        margin: auto;
        padding-left: 0;
    }
    #footer .footer-links .box {
        width: 33.33%;
        min-width: 135px;
        padding: 0 10px 0 10px;
    }
    #footer .footer-links .box.box-last{
        float: none;
        clear: both;
        margin: auto;
        padding-top: 40px;
    }
}
@media only screen and (max-width:1024px){
    .specifications .specificationsheader{
        display: none;
    }
    .specifications .specificationsheader_m{
        display: block;
    }
    .specifications ul.specificationscontent li{
        margin-bottom: 50px;
    }
    .videobanner-container {
        height: 400px;
    }
    .videobanner-container .videobanner .btn-designing{
        margin-top: 10px;
    }
    #bttop{
        display: none !important;
    }
}
@media only screen and (max-width:768px){
    .videobanner-container {
        height: 414px;
        background-position: center -35px;
        background-size: auto 450px;
    }
}
@media only screen and (max-width:480px){
    #footer{
        padding-bottom: 10px;
    }
    #footer .socialconnect{
        margin-bottom: 20px;
    }
    #footer .footer-links .box{
        float: none;
        width: 100%;
        padding: 0 10px 0 10px;
        text-align: center;
        padding-bottom: 20px;
        border-top: dotted 1px #dcdcdc;
    }
    #footer .footer-links,
    #footer .footer-links .box:first-child{
        border-top: dotted 1px #dcdcdc;
    }
    #footer .footer-links .box h4{
        text-align: center;
        padding-top: 20px;
    }
    #footer .footer-links .box.box-last{
        padding-top: 0;
    }
    .videobanner-container {
        background-size: auto 350px;
        height: 320px;
        margin-bottom: 20px;
    }
    .dansk-search .dansk-search-content .search-auinh .search-auinh-left, .dansk-search .dansk-search-content .search-auinh .search-auinh-left + .small-4{
        display: none;
    }
}
@media only screen and (max-width:360px){
    #footer .footer-links .box.box-last{
        width: 280px;
    }
    .join-form .header-subscribe button.btn-subscribe {
        padding-left: 5px;
        padding-right: 5px;
        width: 70px;
    }
    .join-form .header-subscribe input {
        width: 210px;
    }
}
@media only screen and (max-width:320px){
    .videobanner-container {
        height: 180px;
    }
}