.cms-about-us .main-container p{
  margin-bottom: 1.25rem;
}
.cms-about-us .main-container .button{
	margin-bottom: 1.25rem;
}
.cms-about-us .modern-promise{
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.cms-about-us .modern-promise-content a{
	margin-bottom: 1.25rem;
	display: inline-block;
}
.cms-about-us .thumbnail-full > img{
	width: 100%;
}
.cms-about-us .block-center{
	margin: 0 auto;
}