.cloud-zoom-lens {border: 1px solid #888;margin:-4px;background-color:#fff;cursor:move;}
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big {overflow:hidden;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}

/* zoom-section */
.zoom-section{clear:both;/*margin-top:20px;*/height: 156px;}
*html .zoom-section{display:inline;clear:both;}
.zoom-desc{margin-left:10px;width:310px;margin-bottom:20px;}
.zoom-small-image{margin-bottom:20px;}
.zoom-small-image #wrap {left: 40px;z-index: 999 !important;}
@media (min-width: 635px) and (max-width: 767px) {.zoom-small-image #wrap {left: 150px;}}
@media (min-width: 535px) and (max-width: 634px) {.zoom-small-image #wrap {left: 100px;}}
@media (min-width: 435px) and (max-width: 534px) {.zoom-small-image #wrap {left: 60px;}}
@media (min-width: 344px) and (max-width: 434px) {.zoom-small-image #wrap {left: 40px;}}
.zoom-tiny-image{border:1px solid #CCC;margin:0px;}
.zoom-tiny-image:hover{border:1px solid #C00;}
.zoom-desc #anypos #cloud-zoom-big {border-radius: 50%;}