/*
	"raleway",sans-serif n4:n5:n7
	"adriane",serif i4:i7:n4:n7
*/
form{margin: 0;}
fieldset{border: 0; padding: 0; margin: 0;}
.buttons-set button.button{float: none;}
ul, ol, dl{list-style-type: none;margin: 0;}
h1, h2, h3, h4, h5, h6{margin-top: 0;}
input[type="text"],textarea{font-size: 1em;margin: 0;box-shadow: none;}
input[type="text"]:focus, input[type="password"]:focus,textarea:focus,input.input-text:focus,select:focus{background-color: #fff;box-shadow: none;border-color: #d9d9d9;}
button.button span{font: 700 12px/20px "Montserrat-Regular",Arial,sans-serif;}
select{outline: 0;border-color: #d9d9d9;margin: 0;}
a{color: #000;}
strong, b,.std b, .std strong{font-weight: 700}
.label{font-family: "raleway",Arial,sans-serif;}

table tr.even, table tr.alt, table tr:nth-of-type(even){background: none;}

.note-msg, .notice-msg{margin: 1.5rem 0;margin: 1.5rem auto; max-width: 1200px;}
.std ul, .std ol, .std dl, .std p, .std address, .std blockquote{list-style-type: none;margin: 0;padding: 0;}
.move-right .exit-off-canvas{box-shadow: none;}
.main-container{background: none; min-height: 400px;}

body{text-align: left;line-height: 1.4em;/*font-family: "LibreBaskerville-Regular",Arial,sans-serif;*/font-family: 'Crimson Text', serif;}
h1, h2, h3, h4, h5, h6{font-family: "Montserrat-Regular",Arial,sans-serif;}
.data-table {
    width: 100%;
    border: 1px solid #d8d8d8;
}
.data-table tbody th, .data-table tbody td{
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
.messages {
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin: auto !important;
    padding: 0 0.9375rem !important;
}
.messages li{
    margin-top: 10px!important;
    font-size: 12px;
    border-color: #BABABA;
    background-color: #eff5ea;
}
.messages li li{margin: 0!important}
.messages li span{font-weight: 700;font-size: 0.75rem;line-height: 1.25rem;display: block;}
.validation-failed{border: solid 1px #f00 !important; background-color: #FFF !important;}
.validation-advice{
    clear: both;
    min-height: 13px;
    margin: 5px 0 0;
    font-size: 11px;
    line-height: 13px;
    color: #F00;
    padding-left: 1px;
    background: none;
}
#header-topbar{background: #f7f7f7;border-bottom: 1px solid #e6e6e6;color: #666}
#header-topbar .columns{position: relative}
#header-topbar .text{padding: 0.375rem 0;font-size: 0.775rem;line-height: 1.5rem;}
#header-topbar .text strong{color: #df3408;font-size: 1rem;padding: 0 0.375rem;}
#header-topbar .text .chat{background: #df3408;color: #fff;font-size: 0.625rem;line-height: 1.5rem;padding: 0 0.625rem;text-transform: uppercase;border-radius: 3px;}
#header-topbar .toplinks{float: right}
#header-topbar .toplinks li{float: left;margin-left: 10px;}
#header-topbar .toplinks li:first-child{margin-left: 0;}
#header-topbar .toplinks li a{display: block;font-size: 12px ;line-height: 2.25rem;color: #666;}
#header-topbar #as-seen-in-logos{position: absolute;top: 0.5rem;left: 50%;margin-left: -6rem;}
#header-topbar #as-seen-in-logos em{font: 700 italic 0.75rem/1.25rem "adriane",serif;float: left;padding-right: 0.375rem;}
#header-topbar #as-seen-in-logos span{position:relative;float: left;height: 1.25rem;width: 9rem;}
#header-topbar #as-seen-in-logos span img{position:absolute;z-index:1;left: 0;top: 0;opacity: 0;display: none}
#header-topbar #as-seen-in-logos span img.active{z-index:3;opacity: 1;display: block;}

#header{background: url('../images/header-bg.png') center center;position: relative;z-index: 99}
#header .columns{position: relative;height: 4.625rem;}
#header .logo{position: absolute;left: 50%;top: 50%;margin: -15px 0 0 -160px;}
#header .logo a,
#header .logo a img{display: block}
#header .header-search{margin-top: 1rem;border: 1px solid #d9d9d9;border-radius: 4px;box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);padding: 0.25rem 0;position: relative;width: 18.125rem;}
#header .header-search input.input-text{float: left;background: none;border: 0;font-size: 0.875rem;height: 1.875rem;width: 15.75rem;padding: 0.25rem 0.5rem 0.25rem 0.75rem;}
#header .header-search input.input-text:focus{background: none;}
#header .header-search .button{float: left;width: 2.25rem;}
#header .header-search .button:hover,
#header .header-search .button:focus{background: none;}
#header .header-search .button span{background: url('../images/ico-search.png') no-repeat center center;border: 0;border-left: 1px solid #e3e3e3;height: 1.875rem;padding: 0;}
#header .header-search .button span span{display: none;}

#top-navigation{background: url('../images/topnav-bg.png') repeat-x left top;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);height: 2.5rem;position: relative;z-index: 1000;padding: 1px 0;}
#top-navigation .topnav{font-weight: 500;}
#top-navigation .topnav .columns{position: relative;z-index: 9998;}
#top-navigation .topnav li.level0{float: left;margin-right: 0.125rem;height: 2.375rem;}
#top-navigation .topnav li.level0:last-child{margin-right: 0}
#top-navigation .topnav li.level0 a.level0{display: block;text-transform: uppercase;line-height: 2.375rem;}
#top-navigation .topnav li.level0:last-child a.level0{}
#top-navigation .topnav li.level0 a.level0 span{display: block;padding: 0 0.875rem;}

#top-navigation .topnav li.has-drop a.level0{background: url('../images/arrow-cartdrop.png') no-repeat center bottom;position: relative;z-index: 10000;padding-bottom: 0.75rem}

#top-navigation .topnav li .drop-holder{
    position: absolute;
    left: 0.9375rem;
    top: 100%;
    display: none;
    z-index: 9999;
    width: 97.6%;
    padding-top: 0.75rem;
}
#top-navigation .topnav li .drop-holder .drop{
    background: #fff;
    padding: 35px 0 65px 55px;
    position: relative;
}
#top-navigation .topnav li .drop-holder .drop .product-banner{
    position: absolute;
    right: 0;
    bottom: -1px;
    z-index: 1;
}
#top-navigation .topnav li .drop-holder .drop .product-banner img{
    display: block;
    max-width: 418px;
    height: auto;
}
#top-navigation .topnav li .drop-holder .drop .product-tip{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    text-align: center;
    background-color: #000;
    z-index: 2;
    color: #FFF;
    padding: 10px;
    font-weight: normal;
    font-size: 13px;
    /*font-family: 'LibreBaskerville-Regular';*/
    font-family: 'Crimson Text', serif;
}
.header-cart{position: relative;padding: 0.5rem 0;}
.header-cart .header-cart-count{background: url('../images/ico-cart.png') no-repeat 0.875rem center;float: right;border-left: 1px solid #ebebeb;font-size: 0.75rem;line-height: 1.375rem;text-transform: capitalize;height: 1.375rem;}
#header-topbar .header-cart .header-cart-count a{color: #000 !important; font-size: 12px;}
.header-cart strong.header-cart-count{background-image: url('../images/ico-cart-active.png');color: #404040;}
.header-cart .header-cart-count .count-link{float: left;height: 100%;position: relative}
.header-cart .header-cart-count .count-link .label{position: absolute;top: -0.4375rem;right: 0.125rem;font-weight: 700;line-height: 1rem;padding: 0;width: 1.25rem;border: 2px solid #fff;text-align: center}

.videobanner-container{
    height: 594px;
    width: 100%;
    background-image: url("../images/banner/cm-banner.jpg");
    background-position: center top;
    background-size: cover;
}
.videobanner-container .videobanner{
    position: relative;;
    height: 100%;
}
.videobanner-container .videobanner .btn-designing {
    margin-top: 50px;
    border: 2px solid #fff;
    padding: 14px 20px;
}
.videobanner-container .videobanner .btn-designing span {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}
.cartdrop {position: absolute;top: 100%;right: 0;z-index: 999;width: 20.625rem;padding-top: 0.75rem}
.cartdrop .arrowdrop{background: url('../images/arrow-cartdrop.png') no-repeat left top;display: block;height: 0.5625rem;width: 1.125rem;position: absolute;right: 2.375rem;top: 0.1875rem}
.cartdrop .cartdrop-inner{background: #fff;-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);box-shadow: 0 1px 4px  rgba(0, 0, 0, 0.5);border-radius: 4px;padding: 0 0.625rem 0.625rem;}
.cartdrop li {overflow:hidden;padding: 0.75rem 0;border-bottom:1px dotted #ccc;}
.cartdrop .image {float:left;margin:0 0.75rem 0 0;width: 7.25rem;text-align:center;}
.cartdrop .image img {vertical-align:top;}
.cartdrop .text-box {overflow:hidden;}
.cartdrop h3 {margin: 0;color: #000;font-size: 0.875rem;line-height: 1.2em;padding: 0.625rem 0;}
.cartdrop h3 a {color:#000;}
.cartdrop .mark{color: #808080;display: block;font-size: 0.75rem;line-height: 1.2em;}
.cartdrop .qty-price-box{color: #808080;overflow: hidden;font-size: 0.8125rem;line-height: 1em;text-transform: uppercase;padding-top: 0.75rem;}
.cartdrop .qty-price-box .price{float: right;color: #000;font-weight: 700;}
.cartdrop .subtotal{background: none;margin: 0 0 10px;padding: 12px 0;overflow: hidden;color: #000;font-size: 16px;line-height: 1.2em;border-bottom:1px dotted #ccc;text-align: left;}
.cartdrop .subtotal .price{float: right;font-size: 1.125rem;font-weight: 700;}
.cartdrop .button {border: 1px solid #749b0a;width:100%;height: 2.1875rem;font-weight: 500;font-size: 1rem;line-height: 2rem;border-radius:3px;padding: 0;margin: 0}

#banner-slides-container{position: relative;top: -7.125rem;z-index: 1}
#banner-slides-container .banner-slides{z-index: 1;}
#banner-slides-container .banner-slides li.active{z-index: 20;}
#banner-slides-container .banner-slides li a{display: block;text-align: center}
#banner-slides-container .banner-slides li a img{display: inline-block;min-width: 87.5rem;margin: 0 -200rem;}
#banner-slides-container .banner-slides li video{min-width: 87.5rem;width: 100%;height: 100%;margin: -11rem 0;}
#banner-slides-container .orbit-timer{display: none;}
#banner-slides-container .orbit-container .orbit-prev,
#banner-slides-container .orbit-container .orbit-next{width: 50px;top: 50%;margin-top: 2rem}
#banner-slides-container .orbit-container .orbit-prev span,
#banner-slides-container .orbit-container .orbit-next span{border: 0;width: 17px;height: 32px;margin: -16px 0 0 -8px;}
#banner-slides-container .orbit-container .orbit-prev span{background: url('../images/ico-orbit-prev.png') no-repeat 0 0;left: 50%;}
#banner-slides-container .orbit-container .orbit-next span{background: url('../images/ico-orbit-next.png') no-repeat 0 0}
.banner-slides-control{margin-top: -9.625rem;margin-bottom: 1.625rem;position: relative;z-index: 9;}
.banner-slides-control li{float: left;width: 20%;padding: 1px 1px 0;}
.banner-slides-control li a{background: #fff;color: #000;display: block;padding-left: 0.75rem;box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1)}
.banner-slides-control li a img{float: right;margin: -0.5rem 0 0 -1.25rem;}
.banner-slides-control li a strong,
.banner-slides-control li a span{display: block;overflow: hidden;line-height: 1em;text-transform: uppercase;}
.banner-slides-control li a strong{padding-top: 0.875rem;font-size: 11px;}
.banner-slides-control li a span{font-size: 0.625rem;color: #a6a6a6;padding: 0.1875rem 0 0.625rem;}

#banner-phone{display: none;}

.home-social{background: #fff;border: 1px solid #eaeaea;padding: 0.125rem;margin-bottom: 1.25rem;}
.home-social .home-social-inner{background: #f7f7f7;border: 1px solid #eaeaea;padding: 0.375rem 0.5rem;height: 3.375rem}
.home-social .home-facebook{background: url('../images/label-like-us-facebook.png') no-repeat right 10px;float: left;padding: 0.625rem 4.875rem 0.625rem 0.75rem;margin-right: 1.25rem;}
.home-social .header-subscribe{overflow: hidden;border-left: 1px dotted #d2d2d2;padding-left: 1.25rem;}
.home-social .header-subscribe label{float: left;font: italic 1.25rem/1.2em "adriane",serif;padding-top: 0.5rem;}
.home-social .header-subscribe .formbox{float: right;background: #fff;border: 1px solid #d9d9d9;border-radius: 4px;box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);padding: 0.25rem 0;}
.home-social .header-subscribe .formbox .input-box{margin-right: 2.25rem;}
.home-social .header-subscribe .formbox .input-box .input-text{background: none;border: 0;font-size: 0.875rem;height: 1.875rem;width: 17.5rem;padding: 0.25rem 0.5rem 0.25rem 0.75rem;}
.home-social .header-subscribe .formbox .input-box .validation-advice{display: none;}
.home-social .header-subscribe .formbox .button{background: #fff;float: right;width: 2.25rem;}
.home-social .header-subscribe .formbox .button span{background: none;border: 0;height: 1.875rem;padding: 0;width: 100%;}
.home-social .header-subscribe .formbox .button span span{border-left: 1px solid #e3e3e3;font-size: 0.875rem;color: #363636;line-height: 1.875rem;}

.headtitle{text-align: center;margin-bottom: 1.125rem;}
.headtitle h3{background: #fff;display: inline-block;padding: 0 1.25rem;margin: 0;font: 700 normal 1.875rem/1.2em "adriane",serif;}
.headtitle h3 strong{color: #a5a5a5;display: block;font: 700 0.875rem/1em "raleway",Arial,sans-serif;text-transform: uppercase;padding-top: 0.25rem;}

.jcarousel-wrapper{position: relative;}
.jcarousel,
.jcarousel-single {position: relative;overflow: hidden;}
.jcarousel ul,
.jcarousel-single ul,
.col1-layout .home-products .products-grid {width: 20000em;position: relative;}
.jcarousel li,
.jcarousel-single li {float: left;}

.jcarousel-wrapper .jcarousel-control{font-size: 0;line-height: 0;text-indent: -9999px;position: absolute;top: 50%;height: 19px;width: 11px;}
.jcarousel-wrapper .jcarousel-control-prev{background: url('../images/ico-hp-products-prev.png') no-repeat left center;left: -1.25rem;}
.jcarousel-wrapper .jcarousel-control-next{background: url('../images/ico-hp-products-next.png') no-repeat right center;right: -1.25rem;}
.jcarousel-wrapper .jcarousel-control-single-prev{background: url('../images/ico-hp-features-prev.png') no-repeat left center;left: -1.25rem;margin-top: -0.9375rem}
.jcarousel-wrapper .jcarousel-control-single-next{background: url('../images/ico-hp-features-next.png') no-repeat right center;right: -1.25rem;margin-top: -0.9375rem}

.home-products{}
.home-products .products-grid li{margin-right: 1px;}
.home-features{background: url('../images/dotted-line.png') repeat-x center top;margin: 1rem 0 1.5rem;padding: 1.5rem 0;position: relative}
.home-features::before{content: "";background: url('../images/dotted-line.png') repeat-x center top;height: 1px;position: absolute;left: 0;bottom: 0;right: 0;}
.home-features .headtitle{display: none}
.home-features .details h3{border-bottom: 1px dotted #000;font: italic 1.375rem/1.2em "adriane",serif;padding-bottom: 1.25rem;margin-bottom: 1.75rem;display: inline-block;}
.home-features .details h4{text-transform: uppercase;font-size: 2rem;line-height: 1em;margin-bottom: 0;}
.home-features .details p{color: #999;margin-bottom: 1rem;font-family: "Montserrat-Regular",serif;font-style: italic}
.home-features .details a.buy-btn{background: #ffea00;color: #000;display: inline-block;font-weight: 700;font-style: italic;font-family: "Montserrat-Regular",serif;line-height: 2.125rem;padding: 0 1rem;border-radius: 3px;}

.col1-layout .products-grid,.products-grid{width: 100%;background: none;}
.products-grid li{border-right: 1px solid #ededed;float: left;width: 25%;padding: 0 1.25rem 0.625rem;}
.products-grid li.last{border-right: 0}
.products-grid li .image{display: block;text-align: center;margin-bottom: 5px;}
.products-grid li .category-swatches{margin-bottom: 0.875rem;}
.products-grid li .category-swatches ul{overflow: hidden;margin: 0;}
.products-grid li .category-swatches li{float: left;width: auto;padding: 0;border: 0;margin-right: 0.1875rem;}
.products-grid li .category-swatches li:last-child{margin: 0;}
.products-grid li .category-swatches li span{display: block}
.products-grid li .category-swatches li span img{display: block;width: 1.5rem;height: 1.5rem;border-radius: 3px;}
.products-grid li .name{display: block;font-weight: normal ;line-height: 1.2em;font-family: "Montserrat-Regular"; text-transform: uppercase}
.products-grid li .product-material{font-size: 0.8125rem;line-height: 1.2em;color: #8c8c8c;margin: 0;}
.products-grid li .price-box{margin: 1.5rem 0 0;}
.products-grid li .price-box p{margin: 0;line-height: 1.2em; font-family: "Montserrat-Regular";}
.products-grid li .price-box .old-price{color: #808080;font-size: 0.8125rem;}
.products-grid li .price-box .old-price .price{text-decoration: none;font-weight: 400;color: #808080;}
.products-grid li .price-box .special-price{padding-top: 2px;}
.products-grid li .price-box .special-price .price-label{display: none;}
.products-grid li .price-box .special-price .price,
.products-grid li .price-box .regular-price .price{font-size: 16px;color: #000;display: block}

#footer{border-top: 1px solid #ebebeb;padding-bottom: 2rem;}
#footer img{margin-top: -2rem;float: left}
#footer .footer-links{padding-top: 1.25rem;float: right; width: 80%; max-width: 900px;}
#footer .footer-links .box{float: left;}
#footer .footer-links .box.box-last{border: 0;padding-right: 0; float: right; width: 302px; padding-left: 0}
#footer .footer-links .box h4{font-size: 16px;line-height: 1.2em;margin-bottom: 0}
#footer .footer-links .box ul{font-size: 13px;line-height: 1.2em;}
#footer .footer-links .box ul li{margin-top: 0.625rem;}
#footer .footer-links .box ul li a{color: #7d7d7d}
#footer .footer-links .box strong{display: block;font-size: 0.625rem;line-height: 1.2em;text-transform: uppercase;}
#footer .footer-links .box strong.tel{display: block;padding-top: 16px;}

.page-title{background: url('../images/page-title-bg.png') repeat center top;border: 0}
.page-title h1,
.page-title h2{font-size: 3rem;line-height: 1em;margin: 0;padding: 2.5rem 0 0.875rem;color: #fff;text-transform: uppercase; font-family: "Montserrat-Regular"}
.category-title{background: url('../images/category-title-bg.png') repeat center top;margin: 0}
.category-title .filter-link{display: none;}
.cms-page-title{background: url('../images/cms-title-bg.png') repeat center top;}
.cms-page-title h1,
.cms-page-title h2{font-size: 2.25rem;padding-top: 3.25rem;}

.category-promotion{background: url('../images/double-line.png') repeat-x center bottom;color: #808080;font-weight: 500;font-size: 0.8125rem;line-height: 1.4em;margin: 0;padding: 0.875rem 1rem 1rem;text-transform: uppercase;text-align: center;}
.category-promotion strong{color: #000;}

.category-products .products-topbar{padding: 0.5rem 0;border-bottom: 1px solid #e6e6e6;}

.layered-nav{float: left}
.layered-nav .layered-list{float: left}
.layered-nav .item{float: left;margin-right: 1.5rem;position: relative}
.layered-nav .item:last-child{margin-right: 0}
.layered-nav .item .item-title{background: url('../images/ico-arrowdrop.png') no-repeat 97% 50%;display: block;font-size: 0.875rem;line-height: 2rem;text-transform: uppercase;position: relative;}
.layered-nav .item .item-title span,
.layered-nav .item .item-title a{display: block;padding-right: 0.875rem;}
.layered-nav .item.active .item-title span,
.layered-nav .item.active .item-title a{background: url('../images/arrow-filterdrop.png') no-repeat 100% 100%;}
.layered-nav .item .item-drop{display: none;background: #fff;border: 1px solid #ccc;position: absolute;left: -0.625rem;top: 100%;width: 16.25rem;margin-top: -1px;border-radius: 4px;z-index:1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
.layered-nav .item .item-drop ul{margin: 0}
.layered-nav .item .item-drop li{overflow: hidden;padding: 0.5rem 0.75rem;border-bottom: 1px dotted #d9d9d9;font-size: 0.8125rem;line-height: 1.3em;}
.layered-nav .item .item-drop li:last-child{border-bottom: 0;}
.layered-nav .item .item-drop li a,
.layered-nav .item .item-drop li .value{float: left;width: 12.625rem;font-weight: 700;}
.layered-nav .item .item-drop li img{display: block}
.layered-nav .item .item-drop li strong{float: right;width: 2rem;text-align: right;color: #bfbfbf;}
.layered-nav .item .item-drop li .btn-remove{background: url('../images/iconcart-remove.gif') no-repeat center center;float: right;height: 0.875rem;width: 1rem;}
.layered-nav .item .item-drop .clear-link{display: none}

.layered-nav .customer-rating-item .item-drop{width: 10.5rem;}
.layered-nav .customer-rating-item .item-drop li a,
.layered-nav .customer-rating-item .item-drop li .value{width: auto;}

.category-products .sorter{float: right;padding: 0.25rem 0;background: none;border: 0;color: #999;}
.category-products .sorter label{float: left;text-transform: uppercase;font-weight: 700;font-size: 0.75rem;line-height: 1.5rem;margin-right: 0.75rem;color: #999;}
.category-products .sorter select{background-color: #fff;float: left;border-color: #ccc;font-size: 0.875rem;color: #000;padding: 0 1.25rem 0 0.5rem;margin: 0;width: 7.5rem;height: 1.5rem;line-height: 1.375rem;}
.category-products .sorter .sort-by{float: right;padding: 0;}
.category-products .sorter .sort-by select{margin-right: 0.375rem;}
.category-products .sorter .limiter{float: right;margin-right: 1.25rem;}
.category-products .toolbar-bottom .sorter{display: none;}

.pager{border: 0;background: none;padding: 0;}
.pager .pages{background: url('../images/double-line.png') repeat-x center top;margin: 0;height: 4rem;position: relative;text-align: center;padding: 0.75rem 0;font-size: 0.875rem}
.pager .pages::before{background: #f2f2f2;content: "";position: absolute;left: 0;right: 0;top: 50%;height: 1px;}
.pager .pages .previous,.pager .pages .next{border: 1px solid #d8d8d8;border-radius: 3px;height: 2.5rem;width: 8.75rem;position: absolute;top: 0.75rem;font-size: 0.875rem;font-weight: 700;line-height: 2.375rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #fff;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FFFFFF),
            color-stop(1, #F7F7F7)
    );
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);}
.pager .pages .previous{left: 0;}
.pager .pages .next{right: 0;}
.pager .pages ul{background: #fff;display: inline-block;padding: 0 0.625rem;position: relative;z-index: 3;font-size: 0;}
.pager .pages ul li{display: inline-block;font-size: 0.875rem;line-height: 2.5rem;padding: 0 0.625rem;margin: 0;}
.pager .pages ul li.current{font-weight: 700;}
.pager .pages ul li a{color: #808080}
.category-products .products-topbar .pager{display: none;}

.category-products .products-grid{padding: 1rem 0;border-color: #ededed;}
.products-grid li.item{width: 25%;padding: 0 1.25rem 0.625rem;}
.products-grid li.item.last{border-right: 0;}

.category-products-search{padding-top: 1.125rem;width: 18.125rem;margin: 0 auto;}
.category-products-search label{color: #000;display: block;font-weight: 700;line-height: 1.2em;text-align: center;margin-bottom: 0.625rem;}
.category-products-search .form-search{border: 1px solid #d9d9d9;border-radius: 4px;box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);padding: 0.25rem 0;overflow: hidden}
.category-products-search .form-search input.input-text{float: left;background: none;border: 0;font-size: 0.875rem;height: 1.875rem;width: 15.75rem;padding: 0.25rem 0.5rem 0.25rem 0.75rem;}
.category-products-search .form-searchinput.input-text:focus{background: none;}
.category-products-search .form-search .button{
    float: left;
    width: 2.25rem;
    padding: 0;
    background-color: transparent;
}
.category-products-search .form-search .button:hover,
.category-products-search .form-search .button:focus{background: none;}
.category-products-search .form-search .button span{
    background: url('../images/ico-search.png') no-repeat center center;
    border: 0;
    border-left: 1px solid #e3e3e3;
    height: 1.875rem;
    padding: 0;
    display: block;
    border-radius: 0;
}
.category-products-search .form-search .button span span{display: none;}

.gradient-white{background: #fff;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FFFFFF),
            color-stop(1, #FAFAFA)
    );
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);
    background-image: linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);}
.rating{display: block;overflow: hidden;width: 6.75rem;}
.rating .rate{float: left;width: 4.75rem;height: 0.875rem;position: relative;color: #bfbfbf}
.rating .rate .active-stars{position: absolute;left: 0;top: 0;height: 0.875rem;overflow: hidden;color: #ff951f}
.rating .rate .glyphicon{float: left;width: 0.875rem;top: 0;font-size: 0.875rem;line-height: 1em;margin-right: 1px;}
.rating .value{float: left;font-weight: 700;font-size: 0.875rem;line-height: 0.9em;color: #000;width: 2rem;text-align: center}

.tooltip{font-size: 0.75rem;padding: 0.375rem 0.5rem;background: #7ccc00;margin-top: -0.25rem;}
.tooltip > .nub{border-color: transparent transparent #7ccc00 transparent}
.tooltip.tip-top > .nub{border-color: #7ccc00 transparent transparent transparent}
.tooltip.tip-left > .nub{border-color: transparent transparent transparent #7ccc00}
.tooltip.tip-right > .nub{border-color: transparent #7ccc00 transparent transparent}
.product-view{border: 0; position: relative}
.product-essential{padding: 1rem 0 0;background: none;border: 0;border-bottom: 1px solid #e5e5e5;}
.product-collateral{padding: 0 0 3rem;background: none;border-bottom: 1px solid #e5e5e5;}
.product-view .product-img-box,
.col1-layout .product-view .product-shop{float: none;width: 100%;padding-bottom: 0.875rem;}
.col1-layout .product-view .product-shop{border-left: 1px solid #e6e6e6;background: #fff;}

.product-title{background: url('../images/product-title-bg.png') repeat center top;border-bottom: 1px solid #e5e5e5;}
.product-title h2{font-weight: 400;font-size: 1.5rem;line-height: 1.2em;margin: 0;padding-top: 0.75rem;}

.magellan-container{padding: 0.75rem 0;background: none;}
.magellan-container .sub-nav{padding: 0;margin: 0;}
.magellan-container .sub-nav dd{margin: 0;font: 700 0.875rem/1.2em "raleway",Arial,sans-serif;}
.magellan-container .sub-nav dd a{color: #999;padding: 0.25rem 0.5rem;font-weight: 700}
.magellan-container .sub-nav dd a:hover{color: #000;}
.magellan-container .sub-nav dd.active a{background: #7f7f7f;color: #fff;}
.magellan-container.fixed{background: #f7f7f7;border-bottom: 1px solid #e5e5e5;}
.magellan-container.fixed .sub-nav{max-width: 75rem;margin: 0 auto;padding: 0 0.9375rem}

.product-view .product-img-box .product-mainview{position: relative;padding: 0 1.5rem;margin-bottom: 0.625rem}
.product-view .product-img-box .product-mainview-frame{margin: 0;overflow: hidden;position: relative}
.product-view .product-img-box .product-mainview-frame a{display: block;}
.product-view .product-img-box .product-mainview-frame img{width: 100%;display: block}
.product-view .product-img-box #temp-video video{width: 100%}
.product-view .product-img-box .product-mainview .btn-prev{background: url('../images/product-gallery-arrowleft.png') no-repeat left center;position: absolute;left: 0;top: 0;bottom: 0;width: 1.5rem;font-size: 0;line-height: 0;text-indent: -9999px;}
.product-view .product-img-box .product-mainview .btn-next{background: url('../images/product-gallery-arrowright.png') no-repeat right center;position: absolute;right: 0;top: 0;bottom: 0;width: 1.5rem;font-size: 0;line-height: 0;text-indent: -9999px;}

.product-view .product-img-box .more-views{position: relative;}
.product-view .product-img-box .more-views .btn-prev{background: url('../images/ico-hp-features-prev.png') no-repeat left center;position: absolute;left: 1rem;top: 0;height: 100%;width: 0.875rem;font-size: 0;line-height: 0;text-indent: -9999px;background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;}
.product-view .product-img-box .more-views .btn-next{background: url('../images/ico-hp-features-next.png') no-repeat right center;position: absolute;right: 1rem;top: 0;height: 100%;width: 0.875rem;font-size: 0;line-height: 0;text-indent: -9999px;background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;}
.product-view .product-img-box .more-views .carousel{overflow: hidden;margin: 0 10%;}
.product-view .product-img-box .more-views ul{}
.product-view .product-img-box .more-views ul li{margin: 0 0.5rem 0 0;}
.product-view .product-img-box .more-views ul li:last-child{margin-right: 0;}
.product-view .product-img-box .more-views ul li a{border: 1px solid #e6e6e6;width: 70px;height: 70px;
    border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}

.magellan-phoneview{display: none;}
.quantity-formbox{float: left;border: 1px solid #cdcdcd;background: #bcbcbc;text-align: center;overflow: hidden;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;}
.quantity-formbox .calculate-btn{float: left;width: 1.25rem;font-size: 1.25rem;line-height: 1.75rem;color: #fff;}
.quantity-formbox .qty-inputbox{float: left;padding: 0 0.5rem; background: #f5f5f5;border: 1px solid #cdcdcd;margin: -1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #F5F5F5),
            color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);}
.quantity-formbox .qty-inputbox .input-text{background: none;border: 0;padding: 0;margin: 0;font-weight: 700;font-size: 1rem;height: 1.75rem;width: 1rem!important;text-align: center;color: #000;float: left;}
.quantity-formbox .qty-inputbox label{float: left;font-weight: 700;font-size: 0.8125rem;line-height: 1.75rem;color: #808080;text-transform: uppercase;}

.product-shop .product-options{background: none;border: 0;margin: 0;padding: 0 0 0 0.75rem;}
.product-shop .product-options-bottom{background: none;border: 0;margin: 0;padding: 0 0 0 0.75rem;}

.product-shop-bottom{border-left: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;padding: 0.625rem 0 0.625rem 0.75rem;}
.product-options-bottom .add-to-cart{float: none;}
.shipping-note{line-height: 1.3em;margin: 0;}
.shipping-note strong{color: #496778;}
.shipping-note a{font-weight: 700;font-size: 0.75rem;line-height: 1rem;color: #000;cursor: help;text-transform: uppercase;display: inline-block;}
.add-to-cart{background: url('../images/dotted-line.png') repeat-x center bottom;overflow: hidden;padding: 0;}
.add-to-cart label{float: left;font-size: 1.125rem;line-height: 1.875rem;color: #000;margin: 0 0.75rem 0 0;}
.add-to-cart .quantity-formbox .qty-inputbox{width: 2.125rem;padding: 0}
.add-to-cart .quantity-formbox .qty-inputbox .input-text{width: 100%!important;}

.product-view .product-shop .btn-cart{width: 100%;background: none;}
.product-view .product-shop .btn-cart span{background: #59b426;border-color: #4d9b20;height: 3.125rem;font-size: 1.25rem;line-height: 1em;text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;}
.product-view .product-shop .btn-cart span span{height: 3rem;padding: 0.875rem 0;}
.product-view .product-shop .btn-inquire{background: #59b426;border: 1px solid #4d9b20;color: #fff;display: block;height: 3.125rem;font-weight: 700;font-size: 1.25rem;line-height: 1em;padding: 0.875rem 0;text-transform: uppercase;text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;}

.estimate-shipping {margin-bottom: 1.25rem;}
.estimate-shipping .formbox{overflow: hidden;margin-bottom: 5px;}
.estimate-shipping .formbox span{float: left;line-height: 1.875rem;}
.estimate-shipping .formbox .input-shipping-code{float: left;background: #f5f5f5;border-color: #cdcdcd; margin: 0 0.625rem 0 0.5rem;text-align: center;padding: 0;height: 1.875rem;width: 3.75rem;font-size: 1rem;font-weight: 700;color: #000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #F5F5F5),
            color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image: linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);}
.estimate-shipping .quantity-formbox .qty-inputbox .input-text{font-size: 0.8125rem}
.estimate-shipping .estimate-shipping-text{margin: 0.75rem 0 0;}
.estimate-shipping .estimate-shipping-text strong{color: #47901d;font-size: 0.875rem;line-height: 1.3em;display: block}
.estimate-shipping .estimate-shipping-text span{color: #7f7f7f;font-size: 0.75rem;line-height: 1.3em;display: block}
.product-shop-bottom .review-summary{margin-bottom: 0.625rem;}
.product-shop-bottom .review-summary .rating-count{display: block;text-transform: uppercase;font-size: 0.625rem;line-height: 1em;color: #989898;padding-top: 0.25rem;}
.addthis_sharing_toolbox{overflow: hidden;}
.addthis_sharing_toolbox a{float: left;font-size: 0;line-height: 0;}

.product-collateral .product-description{padding-top: 1.875rem;padding-right: 0.75rem;line-height: 1.3em;font-size: 0.875rem;text-align: justify}
.product-collateral .product-description ul,
.product-collateral .product-description p{line-height: 1.4em;margin-bottom: 1rem;font-size: 0.875rem;}
.product-collateral .product-description ul{margin-left: 1.25rem;}
.product-collateral .product-description ul li{list-style: url('../images/desc-check.png');margin-bottom: 0.375rem;}
.product-collateral .product-description ul li p{margin: 0;}
.product-collateral .product-description p:last-child{margin-bottom: 0;}

.product-collateral .product-details{padding-top: 1.875rem;}
.product-collateral .product-details h4{font-size: 0.875rem;line-height: 1.2em;padding-bottom: 0.5rem;border-bottom: 1px solid #e5e5e5;margin-bottom: 0}
.product-collateral .product-details ul{}
.product-collateral .product-details ul li{font-size: 0.75rem;line-height: 1.3em;overflow: hidden;margin-top: 0.875rem;}
.product-collateral .product-details ul li > strong{float: left;width: 38%;text-align: right}
.product-collateral .product-details ul li > span{float: right;width: 52%;margin-bottom: 0.25rem;}
.product-collateral .product-details ul li > span:first-child{margin-bottom: 0;}
.product-collateral .product-details ul li p{font-size: inherit;margin-bottom: 5px;}
.product-collateral .product-details img{margin-top: 0.75rem;}

.product-customers{}
.product-customers .box-shadow-inner{padding: 1.25rem;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 12px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 12px rgba(0,0,0,0.1);}
.product-customers .product-reviews,
.product-customers .questions-answers{padding: 1.875rem 0;}
.product-customers .product-reviews .headtitle .rating{float: left;}
.product-customers .product-reviews .headtitle .rating-count{overflow: hidden;padding-left: 0.5rem;}
.product-customers .product-reviews .row{margin-bottom: 1.25rem;}
.product-customers .product-reviews .box-shadow-inner{text-align: center;}
.product-customers .product-reviews .rating{margin: 0 auto;}
.product-customers .product-reviews .author{display: block;font: italic 700 0.875rem/1.2em "adriane",serif;padding: 0.375rem 0;}
.product-customers .product-reviews .author span{font-weight: 400;}
.product-customers .product-reviews .time{display: block;padding-left: 1.125rem;font-size: 0.625rem;color: #808080;line-height: 1.2em;}
.product-customers .product-reviews p{font: italic 0.875rem/1.4em "adriane",serif;margin: 1.25rem 0 0;text-align: left;color: #666;}
.product-customers .product-reviews .write-link-box{position: relative; text-align: center;}
.product-customers .product-reviews .write-link-box:before{content: "";height: 1px;width: 100%;position: absolute;left: 0;top: 50%;background: #e6e6e6}
.product-customers .product-reviews .write-link-box a{margin: auto;}

#product-review-form,
#upload-photo-form{font-size: 13px;}
#product-review-form h2,
#upload-photo-form h2{font-size: 20px; font-family: "Montserrat-Regular";}
#product-review-form h4,
#upload-photo-form h4{font-size: 16px;}
#product-review-form .rate-box{}
#product-review-form .rate-box a{background: url('../images/ico-star.png') no-repeat 0 0;background-size: cover;float: left;font-size: 0;line-height: 0;text-indent: -9999px;width: 1.25rem;height: 1.25rem;margin:  0 1px;}
#product-review-form .rate-box a.rate,
#product-review-form .rate-box a.rate-over{background: url('../images/ico-star-active.png') no-repeat 0 0;background-size: cover;}

#product-review-form h4,
#upload-photo-form h4{
    font-size: 13px;
    /*font-family: "LibreBaskerville-Regular";*/
    font-family: 'Crimson Text', serif;
    margin-bottom: 20px;
}
#product-review-form .form-list li .input-text,
#upload-photo-form .form-list li .input-text{
    padding: 10px 20px;
    height: 44px;
    font-size: 13px;
}
#product-review-form .form-list li .input-box textarea,
#upload-photo-form .form-list li .input-box textarea{
    height: 75px;
    font-size: 13px;
    padding: 10px 20px;
}

.product-customers .questions-answers .add-askit-box{border: 0;padding-top: 0;margin: 0;}
.product-customers .questions-answers .add-askit-box h4{font: italic 700 0.875rem/1.2em "adriane",serif;padding-bottom: 0.875rem;border-bottom: 1px solid #e6e6e6;margin-bottom: 0}
.product-customers .questions-answers .add-askit-box .form-list{}
.product-customers .questions-answers .add-askit-box .form-list li{margin: 0.75rem 0 0;}
.product-customers .questions-answers .add-askit-box .form-list .input-box{width: 100%}
.product-customers .questions-answers .add-askit-box .form-list .input-box .input-text,
.product-customers .questions-answers .add-askit-box .form-list .input-box textarea{width: 100%;border: 1px solid #d9d9d9;padding: 0.625rem 0.875rem;font: italic 0.875rem/1.2em "adriane",serif;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);}
.product-customers .questions-answers .add-askit-box .form-list .input-box .input-text{height: 2.625rem;}
.product-customers .questions-answers .add-askit-box .form-list .input-box textarea{height: 5rem;}
.product-customers .questions-answers .add-askit-box .form-list .input-box textarea:focus{background: none;}
.product-customers .questions-answers .add-askit-box .buttons-set{background: none;margin: 0;padding: 0.625rem 0 0;border: 0}
.product-customers .questions-answers .add-askit-box .buttons-set button{float: none;width: 100%;padding: 0;background: none;margin: 0;}
.product-customers .questions-answers .add-askit-box .buttons-set button span{border: 1px solid #e6e6e6;text-align: center;font-weight: 700;font-size: 0.75rem;line-height: 1em;text-transform: uppercase;color: #bf0000;padding: 0.625rem 0;display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;}
.product-customers .questions-answers .askit-author{display: block;font: italic 700 0.875rem/1.2em "adriane",serif;}
.product-customers .questions-answers p{font: normal 0.875rem/1.4em "adriane",serif;margin: 0.375rem 0 0;color: #666;}
.product-customers .questions-answers .askit-query-answer-list{margin-top: 0.875rem;padding-top: 0.875rem;border-top: 1px solid #e6e6e6}
.product-customers .questions-answers .askit-query-answer-list li{border: 0;}
.product-customers .questions-answers .askit-noquestion p{margin: 0;}

.related-products{border-top: 1px solid #e5e5e5;}
.related-products .home-products{padding-top: 1.875rem;}

.btns-row {overflow: hidden;}
.btns-row li.show-option{float: left;text-align:center;margin-right: 3.4%}
.btns-row li.show-option:last-child{margin-right: 0!important}
.links_material_1 li.show-option{width:100%}
.links_material_2 li.show-option{width:48.3%;}
.links_material_3 li.show-option{width:31%;}
.links_material_4 li.show-option{width:22.45%}
.links_material_5 li.show-option{min-width:31%;margin-bottom:10px}
.btns-row li a{display: block;border: 1px solid #ccc;padding: 0.375rem;color: #404040;font-weight: 700;font-size: 0.8125rem;line-height: 1.3em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;}
.btns-row li.active a{background: #496778;border-color: #f7f7f7;color: #fff;}

#configurable-options{padding: 0 0 0 0.75rem;}
#configurable-options .customiser-step{margin-bottom: 0.5rem;}
#configurable-options .configurable-subbox{background: url('../images/dotted-line.png') repeat-x center bottom;padding-bottom: 0.75rem;margin-bottom: 0.625rem;}
.colors-row ul#product_color_icons{  position: relative;}
.colors-row ul:after {display: block;clear: both;content: "";}
.colors-row ul li{float: left;padding: 0 8px 5px 0;}
.colors-row ul li a{display: block;position: relative;}
.colors-row ul li a .checked{display: none;background: url('../images/icon-checked.png') no-repeat center top;position: absolute;left: 50%;top: 50%;width: 0.8rem;height: 0.8rem;margin: -0.4rem 0 0 -0.4rem;z-index: 2;}
.colors-row ul li.active a .checked,
.colors-row ul li a:hover .checked{display: block;}
.colors-row ul li .swatch-tooltip{position:absolute;margin-top:0;margin-left:10px;padding:8px;border:solid 1px #e5e5e5;top:0;left:100%;width:260px;min-height:322px;z-index:999;background: #fff;}
.colors-row ul li .swatch-tooltip:before{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    margin-top: -6px;
    background:#fff url('../images/icon_arrow_left.png') no-repeat center left;
    width: 8px;
    height: 13px;
    background-size: 100%;
}
.colors-row ul li .swatch-tooltip img {width: 251px; height:189px;}
.colors-row ul li .swatch-tooltip .title{display:block;margin-top:10px;font-size:12px; font-weight: bold;}

.colors-row ul li a img {
    padding: 2px;
    border: solid 1px #eceae9;
    width: 37px;
    height: 26px;
}
.colors-row ul li.active a img,
.colors-row ul li a:hover img {
    border: solid 1px #575454;
}

.cart{}
.cart-title{background: url('../images/product-title-bg.png') repeat center top;border-bottom: 1px solid #e5e5e5;padding: 0.75rem 0 0.5rem;}
.cart-title h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2.5rem 0 0.875rem;
}
.cart-title .checkout-types{display: none}
.cart .btn-proceed-checkout{
    margin: 0;
    width: 99%;
    text-align: center;
    background-color: #ed6d23;
}
.cart .btn-proceed-checkout span{
    color: #FFF;
    font-size: 0.75rem;
    top: 0;
    display: none !important;
}
.cart .cart-title .btn-proceed-checkout{margin-right: 0.75rem;}

.cart .cart-list{float: left; width: 100%;  padding-top: 29px;}
.cart #shopping-cart-table{border: 0;}
.cart #shopping-cart-table tr{background: none!important;}
.cart #shopping-cart-table td{border: 0;padding: 1.25rem 1.25rem 1.25rem 0;}
.cart #shopping-cart-table tr.last td{background: none;}
.cart #shopping-cart-table td.a-center{padding-right: 0;width: 5rem;}
.cart #shopping-cart-table td.a-right{padding-right: 0;width: 5.75rem;}
.cart #shopping-cart-table td.a-shipping{width: 7.25rem;padding-right: 0.75rem;}
.cart #shopping-cart-table td.a-img{width: 6rem}
.cart #shopping-cart-table td .product-image{display: block;width: 5rem;}
.cart #shopping-cart-table td .product-name{font-weight: 700;line-height: 1.3em;margin-bottom: 0.375rem}
.cart #shopping-cart-table td .product-name a{color: #000;display: block;}
.cart #shopping-cart-table td .item-options{margin: 0 0 0.375rem;font-size: 0.75rem;line-height: 1.3em;}
.cart #shopping-cart-table td .item-options span{display: block}
.cart #shopping-cart-table td .remove-link{background: url('../images/iconcart-remove.gif') no-repeat left center;display: inline-block;font-weight: 700;font-size: 0.625rem;line-height: 0.9em;padding-left: 0.625rem;text-transform: uppercase;}
.cart #shopping-cart-table .a-shipping strong{display: block;line-height: 1.2em;margin-bottom: 0.25rem;}
.cart #shopping-cart-table .a-shipping a{display: block;font-weight: 700;font-size: 0.625rem;line-height: 1rem;color: #000;cursor: help;text-transform: uppercase;
    background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;}
.cart #shopping-cart-table td input.qty{
    /* width: 3.75rem!important;
     border: 1px solid #d8d8d8;
     font-size: 1rem;
     line-height: 1.25rem;*/
    padding: 0.5rem 0;
    text-align: center;
}
.cart #shopping-cart-table td .price{display: block;font-size: 1rem;line-height: 2.5rem;}
.cart #shopping-cart-table td.a-right .price{font-weight: 700;}

.page-popup{padding: 15px;}
.page-popup .page-title{background: none;}
.page-popup .page-title h1,
.page-popup .page-title h2{text-align: center;padding: 0;font-weight: 700;font-size: 1.75rem;color: #000;text-transform: uppercase;}
.delivery-popup{}
.delivery-popup h4{}
.delivery-popup p{font-size: 0.875rem;margin-bottom: 25px}
.delivery-popup p:last-child{margin: 0;}

.cart-icos{background: url('../images/double-line.png') repeat-x center top;padding-top: 1.5rem;overflow: hidden;font-size: 0.875rem;line-height: 0.9em;text-transform: uppercase;}
.cart-icos li{float: left;padding: 0.1875rem 0 0.1875rem 2.25rem;margin-right: 1.25rem;height: 1.875rem;}
.cart-icos li:last-child{margin-right: 0;}
.cart-icos li.ico-first{background: url('../images/ico-delivery-worldwide.gif') no-repeat left top;}
.cart-icos li.ico-second{background: url('../images/ico-quality-guaranteed.gif') no-repeat left top;}
.cart-icos li strong,
.cart-icos li span{display: block}
.cart .cart-collaterals-inner{border: 1px solid #e6e6e6;}
.cart .cart-collaterals .shipping-cost-form strong{float: left;font-size: 13px;line-height: 1.875rem;}

.cart .cart-collaterals #coupon-formbox .post-form{
    padding-top: 0.625rem;
    position: relative;
    padding-bottom: 14px;
    width: 100%;
    float: left;
}
.cart .cart-collaterals #coupon-formbox .post-form button{
    float: right;
    width: 5.5rem;
    color: #fff;
    font-size: 0.75rem;
    padding: 8px 0;
    text-transform: uppercase;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ed6d23;
}
.cart .cart-collaterals #coupon-formbox .post-form .validation-advice {
    position: absolute;
    bottom: -5px;
}
.cart .cart-collaterals .totals .total{
    padding-top: 20px;
    padding-bottom: 0.5rem;
    line-height: 1.2em;
    display: block;
    overflow: hidden;
    text-align: right;
}
.cart-collaterals .total-label{float: left;width: 60%; text-align: left; font-size: 13px;}
.cart .cart-collaterals .totals .total .price{float: left; width: 40%; font-weight: normal;}
.cart .cart-collaterals .totals .grandtotal .total-label span{font-weight: 400;font-size: 0.75rem;line-height: 1.2em;display: block;color: #000;}
.cart-empty .btn-proceed-checkout,
.cart-empty .btn-proceed-checkout:hover{background: #d4d4d4;border-color: #d4d4d4;}
.cart-empty .btn-proceed-checkout span{color: #fff;}
.cart-empty .empty-box{text-align: center;padding: 4rem 0;}
.cart-empty .empty-box h3{background: #f7f7f7;border: 1px solid #ebebeb;color: #999;font-weight: 300;font-size: 1.625rem;display: inline-block;line-height: 3.625rem;padding: 0 1.5rem;margin-bottom: 1rem;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;}
.cart-empty .empty-box a{font-weight: 700;color: #0088cc;display: block;}

div.loading-ajax, div.loading-ajax-login {height: 3.5rem;text-align: center;background: url('../onestepcheckout/images/ajax-loader.gif') no-repeat center center;}
.onestepcheckout-index-index #header{border-bottom: 1px dotted #ccc;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);z-index: 99;margin-bottom: 1.625rem;}
.onestepcheckout-index-index #header .columns{height: auto;}
.onestepcheckout-index-index #header .logo{position: static;float: left;margin: 0;padding: 1rem 0;}
.onestepcheckout-index-index #header .logo img{display: block;}
.onestepcheckout-index-index .main-container{padding-top: 15px;}

.onestepcheckout-column-left,
.onestepcheckout-column-middle,
.onestepcheckout-column-right{float: left;width: 33.33%;padding: 0 0.625rem;}
.onestepcheckout-column-left{padding-left: 0.9375rem;}
.onestepcheckout-column-right{padding-right: 0.9375rem;}
.onestepcheckout-threecolumns .onestepcheckout-numbers{
    color: #5AC4C2;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #e6e6e6;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
}
/*.onestepcheckout-column-left.active-column #billing_address,
.onestepcheckout-column-left.active-column #shipping_address
{background: #f5f5f5;}*/
.onestepcheckout-threecolumns .active-column .onestepcheckout-numbers{color: #5AC4C2;border-color: #5AC4C2; width: 100%;   background: white;}
.onestepcheckout-threecolumns #billing_address,
.onestepcheckout-threecolumns .shipping_address_list,
.onestepcheckout-threecolumns .onestepcheckout-shipping-method,
.onestepcheckout-threecolumns .payment-methods,
.onestepcheckout-threecolumns .onestepcheckout-summary{border: 1px solid #e6e6e6;border-top: 0;padding-top: 0.625rem;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px}
.onestepcheckout-threecolumns .input-box label,
.onestepcheckout-threecolumns .payment-methods label
{text-transform: uppercase;}
.onestepcheckout-threecolumns li.address-select{padding: 0 0.625rem 1rem;}
.onestepcheckout-threecolumns li.address-select label{margin-bottom: 0.5rem;font-weight: 700;}
.onestepcheckout-threecolumns li.address-select select{padding-right: 1.5rem;}
.onestepcheckout-threecolumns #shipping_address{margin-top: 0;}
.onestepcheckout-threecolumns .shipping_address_list li p.title-shipping {font-weight: bold;  padding: 5px 10px; font-size: 14px;}
.onestepcheckout-threecolumns ul{margin-left: 0;}
.onestepcheckout-threecolumns ul.form-list li{margin-bottom: 0.75rem;padding-left: 0.625rem;padding-right: 0.625rem;overflow: hidden;}
.onestepcheckout-threecolumns ul.form-list li .input-box{width: 100%;}
.onestepcheckout-threecolumns ul.form-list li .input-city{margin-bottom: 0.75rem;}
.onestepcheckout-threecolumns ul.form-list li .input-firstname,
.onestepcheckout-threecolumns ul.form-list li .input-lastname,
.onestepcheckout-threecolumns ul.form-list li .input-region,
.onestepcheckout-threecolumns ul.form-list li .input-postcode{float: left;width: 48%;clear: none;}
.onestepcheckout-threecolumns ul.form-list li .input-firstname,
.onestepcheckout-threecolumns ul.form-list li .input-postcode{margin-right: 4%;}
.onestepcheckout-threecolumns #billing_address ul.form-list li .input-telephone{margin-top: 0.75rem;}
.onestepcheckout-threecolumns label{color: #000;line-height: 1.2em;margin-bottom: 0.25rem;float: none;}
.onestepcheckout-threecolumns label span{color: #9a9a9a;font-weight: 400;font-size: 0.75rem;}
.onestepcheckout-threecolumns label.address_label2{margin-top: 0.625rem;}
.onestepcheckout-threecolumns ul.form-list li .input-text,
.onestepcheckout-threecolumns ul.form-list li select,
.onestepcheckout-threecolumns select{
    width: 100%;
    border: 1px solid #d8d8d8;
    background-color: #FFF;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: 1.85rem;
}
input.onestepcheckout-address-line {
    margin-bottom: 12px !important;
}

.onestepcheckout-threecolumns ul.form-list li .create_account_box{}
.onestepcheckout-threecolumns ul.form-list li .create_account_box input,
.onestepcheckout-threecolumns .input-different-shipping input{margin: 0;float: left;}
.onestepcheckout-threecolumns ul.form-list li .create_account_box label,
.onestepcheckout-threecolumns .input-different-shipping label{overflow: hidden;margin: 0 0 0 1.375rem;display: block;}
.onestepcheckout-threecolumns #onestepcheckout-li-password{overflow: hidden}
.onestepcheckout-threecolumns #onestepcheckout-li-password .input-password{float: left;width: 48%;clear: none;}
.onestepcheckout-threecolumns #onestepcheckout-li-password .input-password:first-child{margin-right: 4%;}
.onestepcheckout-threecolumns #onestepcheckout-li-password .input-password .input-text{margin: 0;}
.onestepcheckout-threecolumns .input-different-shipping{overflow: hidden;padding: 0 0.625rem 0.625rem;}
.onestepcheckout-threecolumns .input-different-shipping label {text-transform: none;}
.onestepcheckout-threecolumns .input-different-shipping label{font-weight: 700;line-height: 1.2em;}

.onestepcheckout-threecolumns .onestepcheckout-column-middle dt{background:#f5f5f5;padding: 0.75rem 0.625rem;border-bottom: 1px dotted #ccc;margin-bottom: 0!important;overflow: hidden}
.onestepcheckout-threecolumns .onestepcheckout-column-middle dt:last-child{border: 0;}
.onestepcheckout-threecolumns .onestepcheckout-column-middle dt input{float: left;margin: 0;}
.onestepcheckout-threecolumns .onestepcheckout-column-middle dt label{font-weight: 700;overflow: hidden;line-height: 1.2em;display: block;margin: 0 0 0 1.375rem;}
.onestepcheckout-threecolumns .onestepcheckout-column-middle dt label span{float: right;}
.onestepcheckout-threecolumns .onestepcheckout-shipping-method{margin-bottom: 2rem;padding-top: 0;}
.onestepcheckout-threecolumns .onestepcheckout-shipping-method dd{display: none;}
.onestepcheckout-threecolumns .payment-methods{padding: 0 0 0.75rem;}
.onestepcheckout-threecolumns .payment-methods dd{margin: 0;padding: 0.75rem 0 0}
.onestepcheckout-threecolumns .payment-methods dd li:last-child{margin-bottom: 0;}
.onestepcheckout-threecolumns .payment-methods .v-fix{margin-right: 0.625rem;}
.onestepcheckout-threecolumns .payment-methods .v-fix:last-child{margin-right: 0;}

.onestepcheckout-threecolumns div.onestepcheckout-summary{padding: 0 0 0 5px; overflow: hidden;   border: none; background: #f5f5f5;}
.onestepcheckout-threecolumns .onestepcheckout-summary table{border: 0;padding: 0;margin: 0;width: 100%}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-summary td {border-bottom: 1px dashed #ededed}
.onestepcheckout-threecolumns .onestepcheckout-summary table td{padding: 1rem 0;}
.onestepcheckout-threecolumns .onestepcheckout-summary table td.a-img{padding-right: 1.125rem;}
.onestepcheckout-threecolumns .onestepcheckout-summary table h4{font-size: 0.875rem;line-height: 1.3em;margin: 0}
.onestepcheckout-threecolumns .onestepcheckout-summary table p{line-height: 1.3em;margin: 0.5rem 0 0;}
.onestepcheckout-threecolumns .onestepcheckout-summary table .item-options{font-size: 0.75rem;}
.onestepcheckout-threecolumns .onestepcheckout-summary table .item-options span{display: block;}
.onestepcheckout-threecolumns .onestepcheckout-summary table .qty-total-para{
    overflow: hidden;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    font-family: 'Montserrat-Regular';
    padding-right: 10px;
}
.onestepcheckout-threecolumns .onestepcheckout-summary table .qty-total-para strong{text-transform: uppercase;float: left}
.onestepcheckout-summary .table-item {max-height: 268px;   overflow: auto;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals{float: right;max-width: 100%;margin-top: 20px; margin-bottom: 15px; background: #f5f5f5;   font-family: 'Montserrat-Regular';}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals tr{background: none;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals td:first-child {text-align: left;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals td{ padding: 7px 0;text-align: right;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals td.title{width: 50%;   color: #979797; text-transform: uppercase; font-weight: normal;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals td.value{width: 50%;font-weight: normal;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals .grand-total td{border: 0;font-weight: 700;font-size: 1.125rem;color: #5AC4C2;padding: 0.5rem 0;}
.onestepcheckout-threecolumns .onestepcheckout-summary .onestepcheckout-totals .grand-total td.title span{display: block;font-weight: 400;font-size: 0.75rem;color: #000;line-height: 1.2em;}
.onestepcheckout-place-order-wrapper{overflow: hidden;padding-top: 0.75rem; clear: both;}
.onestepcheckout-place-order-wrapper button{
    width: 100%;
    background-color: #ed6d22;
}
.onestepcheckout-place-order-wrapper button:hover {
    background-color: #df6118;
}
.onestepcheckout-place-order-wrapper p {text-align: center; color: #909090 }
.onestepcheckout-place-order-loading{clear: both;font-size: 0.875rem;padding-top: 0.5rem;text-align: center;}

.contact-wrap{}
.contact-wrap .mw_faq{float: left;width: 48%;margin-right: 4%;margin-bottom: 1.875rem;}
.contact-wrap .mw_faq.even{margin-right: 0;}
.contact-wrap .mw_faq .mw_faq_name{font-size: 1rem;line-height: 1em;margin-bottom: 1rem;}
.contact-wrap .mw_faq_item{margin-bottom: 10px}
.contact-wrap .mw_faq_item.last{margin-bottom: 0}
.contact-wrap .mw_question{font-weight: 400;font: italic 0.875rem/1.3em "adriane",serif;line-height: 1.3em;margin: 0}
.contact-wrap .mw_question a{display: block;color: #808080;}
.contact-wrap .mw_question a:hover{text-decoration: underline;}
.contact-wrap .mw_question_a_selected a{color: #7aa014;cursor: default!important;text-decoration: none!important}
.contact-wrap .mw_answer{padding: 0.25rem 0 0.375rem 0.75rem;font-weight: 500;font-size: 0.875rem;}
.contact-wrap .mw_answer p{margin: 0;font-weight: 500;font-size: 0.875rem;line-height: 1.3em;}
.contact-wrap .mw_answer a{text-decoration: underline}
.contact-wrap .mw_answer a:hover{text-decoration: none}

.contact-wrap .contact-info{}
.contact-wrap .contact-info h2{font-size: 1.25rem;line-height: 1em;text-transform: uppercase;margin-bottom: 0.625rem;}
.contact-wrap .contact-info h3{font-size: 1.25rem;color: #cd0000;margin-bottom: 0;}
.contact-wrap .contact-info h4{font-size: 1rem;text-transform: uppercase;margin-bottom: 0.75rem;}
.contact-wrap .contact-info p{font: 500 0.875rem/1.4em "raleway", Arial,sans-serif;margin-bottom: 0;}
.contact-wrap .contact-info p a{text-decoration: underline;}
.contact-wrap .contact-info p a:hover{text-decoration: none;}
.contact-wrap .contact-info a.send-mail{display: inline-block;background: #7ccc00;color: #fff;padding: 0.3125rem 0.625rem;font-weight: 700;font-size: 0.75rem;line-height: 100%;text-transform: uppercase;margin: 0.625rem 0 1.5rem;}

.cm-quality{}
.cm-quality .qualitybox{margin-bottom: 3rem;}
.cm-quality .qualitybox .headtitle{margin-bottom: 2.5rem}
.cm-quality .qualitybox .buy-link{font-weight: 400;font-size: 0.875rem;line-height: 1.2em;display: inline-block;}

#our-quality{}
#our-quality .detailsbox{position: relative;margin-bottom: 2.5rem;}
#our-quality .detailsimg{max-width: 27rem;margin: 0 auto;position: relative;text-align: center}
#our-quality .detailsimg .number{display: none;}
#our-quality .subdetail{position: absolute;left: 50%;top: 0;width: 11.5rem;}
#our-quality .subdetail1{top: 3.25rem;margin-left: -25.5rem;}
#our-quality .subdetail2{top: 12.5rem;margin-left: -25.5rem;}
#our-quality .subdetail3{top: 2.125rem;margin-left: 14rem;}
#our-quality .subdetail4{top: 8.5rem;margin-left: 14rem;}
#our-quality .subdetail5{top: 15rem;margin-left: 14rem;}
#our-quality .subdetail h4{margin: 0 0 0.125rem;font-size: 0.75rem;line-height: 1.2em;}
#our-quality .subdetail h4 strong{display: none;}
#our-quality .subdetail p{margin: 0;font: italic 0.6875rem/1.25em "adriane",serif;color: #545454;}
#our-quality .videosbox{}
#our-quality .videosbox ul{overflow: hidden;max-width: 62rem;margin: 0 auto;}
#our-quality .videosbox ul li{float: left;width: 33.33%;padding: 0 1.25rem;text-align: center;}
#our-quality .videosbox ul li a{display: block}
#our-quality .videosbox ul li span{display: block;margin: 0.5rem 0 0.75rem;font: italic 0.75rem/1.25em "adriane",serif;}
#our-quality .note{font: italic 0.75rem/1.25em "adriane",serif;margin: 0.625rem 0 0;text-align: center}

#review-quality{overflow: hidden;max-width: 62rem;margin: 0 auto;}
#review-quality .videobox{float: left;width: 48%;}
#review-quality .videobox iframe{max-width: 100%;}
#review-quality .videobox p{text-align: center;margin: 0.5rem 0 0;font-size: 0.875rem;line-height: 1.2em;}
#review-quality .textbox{float: right;width: 48%;}
#review-quality .textbox p{font-size: 0.875rem;line-height: 1.5em;}
#review-quality .textbox p:last-child{margin-bottom: 0}

#bhs-quality{max-width: 56rem;margin: 0 auto;overflow: hidden;}
#bhs-quality .titlebox{overflow: hidden;margin-bottom: 1.5rem;}
#bhs-quality .titlebox img{float: right;margin: 0 0.625rem 0 0;}
#bhs-quality .titlebox h3{float: left;font-weight: 400;font-size: 1.5rem;line-height: 1.2em;margin: 0;padding-top: 4.5rem;}
#bhs-quality ul{}
#bhs-quality ul li{overflow: hidden;}
#bhs-quality ul li img{float: right;}
#bhs-quality ul li .stepinfo{float: left;width: 16.25rem;height: 10rem;}
#bhs-quality ul li .stepinfo h4{font: 700 italic 1.25rem/1.2em "adriane",serif;margin-bottom: 0.25rem;}
#bhs-quality ul li .stepinfo p{font-size: 0.8125rem;line-height: 1.3em;margin: 0;}
#bhs-quality .egg-chair{float: left;width: 45%;}
#bhs-quality .egg-chair .titlebox img{float: left;margin: 1.75rem 0 0 1.125rem;}
#bhs-quality .egg-chair .titlebox h3{float: right;}
#bhs-quality .egg-chair ul li img{float: left;}
#bhs-quality .egg-chair ul li .stepinfo{float: right;text-align: right;}
#bhs-quality .egg-chair .buy-link{float: right;}
#bhs-quality .artichoke{float: right;width: 45%;}

#packaging-shipping{overflow: hidden}
#packaging-shipping .textbox{max-width: 32rem;padding: 0 1.25rem;margin: 0 auto;text-align: center;}
#packaging-shipping .textbox p{font-size: 0.8125rem;line-height: 1.5em;text-align: left;}
#packaging-shipping .f-right{margin: 0 3.25rem;}

#after-care{text-align: center;}
#after-care .inner-textbox{background: url('../images/voga/img-after-care-collage.jpg') no-repeat center 1rem;overflow: hidden;max-width: 62rem;margin: 0 auto 2.5rem;text-align: left}
#after-care .inner-textbox .col{float: left;width: 38%;}
#after-care .inner-textbox .col-last{float: right;}
#after-care .inner-textbox .col p{font-size: 0.875rem;line-height: 1.5em;}
#after-care .inner-textbox .col ul li{margin-bottom: 1.25rem;}
#after-care .inner-textbox .col ul li:last-child{margin-bottom: 0;}
#after-care .inner-textbox .col ul li h4{font: 700 italic 1.25rem/1.2em "adriane",serif;margin-bottom: 0.25rem;}
#after-care .inner-textbox .col ul li p{margin: 0}

.qualityvideo-modal{padding: 0.625rem;background: #000;width: 36.25rem;margin-left: -17.5rem;}
.qualityvideo-modal .iframe{max-width: 100%;display: block;}
.qualityvideo-modal .close-reveal-modal{left: 50%;top: auto;bottom: -3rem;margin-left: -1.25rem;color: #fff}

.fieldset{border: 0;background: none;padding: 0 0 1.75rem;margin: 0 1.25rem;}
.fieldset:last-child{padding: 0;}

.form-list{}
.form-list li{margin-bottom: 0.875rem;}
.form-list li .field{float: none;width: 100%}
.form-list li .field:first-child{margin-bottom: 1rem;}
.form-list li label{
    color: #424242;
    line-height: normal;
    margin-bottom: 5px;
    float: none;
    font-family: 'Montserrat-Regular';
    font-weight: normal;
}
.form-list li label span{color: #9a9a9a;font-weight: 400;font-size: 0.75rem;}
.form-list li label span.required{display: inline-block; color: #F00; text-indent: -9999px}
.form-list li .input-box{width: 100%}
.form-list li .input-box textarea{
    width: 100%;
    resize: none;
}
.form-list li .input-text{
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: 50px;
    margin: 0;
}
.form-list .control{overflow: hidden}
.form-list li.control .input-box{float: left}
.form-list li.control .input-box input{margin: 0;vertical-align: top}
.form-list li.control label{overflow: hidden;margin: 0 0 0 1.375rem;}

.buttons-set{
    text-align: left;
    border: 0;
    margin: 0;
    padding: 0.75rem 0 0;
}
.buttons-set a{font-size: 0.875rem;line-height: 2.5rem;}
.account-login-wrap{}
.account-login-wrap .registered-users{float: right;}
.account-login-wrap .new-users{float: left;}
.account-login-wrap .new-users p{margin: 0;}
#login-form-custom .col, #login-form .col{padding: 0.125rem;width: 48%}
#login-form h2, #form-validate h2{padding: 0.625rem 1.25rem;font-weight: 400;font-size: 2rem;line-height: 1.2em; padding-bottom: 1.25rem; text-align: center}
#login-form-custom h2 {padding: 0.625rem 0;font-weight: 400;font-size: 1.5rem;line-height: 1.2em;}
#login-form .box-inner, .box-inner, #form-validate .box-inner{margin: 0 1.25rem;}
#login-form-custom .buttons-set{padding: 1.25rem 0;padding-top: 0; margin-top: 0;}

.account-one-col{border: 1px solid #e6e6e6;padding: 0.125rem;max-width: 37.5rem;margin: 0 auto;}
.account-one-col-inner{border: 1px solid #e6e6e6;}
.account-one-col .legend{background: #f7f7f7;padding: 0.625rem 1.25rem;font-weight: 400;font-size: 1.5rem;line-height: 1.2em;margin-bottom: 1.25rem;}
.account-one-col .buttons-set{padding: 1.25rem 0;margin: 1rem 1.25rem 0;}

.account-navigation{border-bottom: 1px solid #e6e6e6;padding: 1rem 0;margin-bottom: 1.5rem;}
.account-navigation ul{overflow: hidden}
.account-navigation ul li{float: left;margin-right: 1.5rem;font-size: 0.875rem;line-height: 1em;font-weight: 700;text-transform: uppercase;}
.account-navigation ul li.last{margin-right: 0;}
.account-navigation ul li a{display: block;}
.account-navigation ul li strong{display: block;color: #df3408;}

.move-right > .inner-wrap {
    -ms-transform: translate(21.25rem, 0);
    -webkit-transform: translate3d(21.25rem, 0, 0);
    -moz-transform: translate3d(21.25rem, 0, 0);
    -ms-transform: translate3d(21.25rem, 0, 0);
    -o-transform: translate3d(21.25rem, 0, 0);
    transform: translate3d(21.25rem, 0, 0);}
.left-off-canvas-menu{background: #242424;width: 21.25rem;}
.left-off-canvas-menu li a{color: #fff;font-size: 1.75rem;line-height: 1.2em;display: block;}
.left-off-canvas-menu .nav-links{background: #333;}
.left-off-canvas-menu .nav-links li{border-bottom: 1px solid #666;}
.left-off-canvas-menu .nav-links li a{font-weight: 700;padding: 1.875rem 0.625rem 1.875rem 1.875rem;}
.left-off-canvas-menu .nav-links li a:hover{background: #242424}
.left-off-canvas-menu .toplinks{}
.left-off-canvas-menu .toplinks li{border-bottom: 1px solid #5b5b5b}
.left-off-canvas-menu .toplinks li a{padding: 0.9375rem 0.625rem 0.9375rem 1.875rem;}
.left-off-canvas-menu .toplinks li a:hover{background: #333;}

.ias_loader, .ias_trigger { text-align: center;}
.ias_loader > img {
    display: block;
    margin: 10px auto;
    -webkit-animation: roundImg 1s infinite linear;
    -moz-animation: roundImg 1s infinite linear;
    -o-animation: roundImg 1s infinite linear;
}
@-webkit-keyframes roundImg {
    from { -webkit-transform: rotate(1deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes roundImg {
    from { -moz-transform: rotate(1deg); }
    to { -moz-transform: rotate(360deg); }
}
@-o-keyframes roundImg {
    from { -o-transform: rotate(1deg); }
    to { -o-transform: rotate(360deg); }
}

button.button span{
    display: inline;
    height: auto;
    border: 0;
    background: transparent;
    padding: 0;
    font: normal 12px/19px 'Montserrat-Regular';
    text-align: center;
    white-space: nowrap;
    color: #fff;
}

button.button > span{
    font-family: 'Montserrat-Regular';
    position: relative;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    background: transparent;
    color: white;
    transition: background-color 300ms ease-out;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
}
.form-list label.required em{
    right: 0;
}
#bttop{
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 0;
    z-index: 1000;
    display: none;
}
.catalog-category-view .toolbar-bottom{
    display: none;
}
.checkout-cart-index .messages{
    padding:0 !important;
}
.onestepcheckout-shipping-method-block,
#checkout-payment-method-load{
    padding: 0 0.65rem;
}
#payment_form_directdeposit_au,
#payment_form_directdeposit_au, p{
    font-size: 13px;
    /*font-family:"LibreBaskerville-Regular",Arial,sans-serif;*/
    font-family: 'Crimson Text', serif;
}
#payment_form_directdeposit_au li label{ display: inline-block; /*font-family:"LibreBaskerville-Regular",Arial,sans-serif;*/font-family: 'Crimson Text', serif;}
.block-poll button.button span{border: 0; background: transparent;}
.form-list li.fields{width: 100%}
.form-list li.fields:after{
    content: " ";
    display: table;
    clear: both;
}
.form-list li.fields .field{
    width: 48%;
    float: left;
    margin-bottom: 0;
}
.my-account .form-list li.fields .field{
    margin-bottom: 10px;
}
.my-account .form-list li.fields .field .region-col {
    margin-top: 10px;
}
.my-account .form-list li.fields .field select {
    width: 100%;
    height: 50px;
    padding: 0.25rem 0.5rem;
}
.my-account .form-list li.fields .field.column-left {
    margin-right: 4%;
}
.form-list li.fields .field:first-child{
    margin-right: 4%;
}
.Cart-fixed .input-postcode input#billing_postcode{
    display: block;
    padding-left: 20px;
    float: left;
    width: 71%;
    font-size: 13px;
    border-right: 0;
    margin-left: 0;
    border-color: #eeecea;
    text-transform: none;
}
.Cart-fixed .input-postcode button#apply-postcode {
    width: 29%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
/*option*/
.options_wrap{padding:0; border-top:1px solid #E6E6E6}

.opt_wrap, .p_qty_wrap{padding:15px; margin:0; border-bottom:1px solid #EAEDF6}
.opt_wrap:last-child, .p_qty_wrap:last-child{border-bottom:none}
.opt_wrap:hover, .p_qty_wrap:hover{background:#fdfdfd}

.opt_label{margin:0; padding:0px 0px 5px 0px; font-size:14px; font-weight:bold; color:#34afb4; text-align:left; text-transform:uppercase; border:none}
.opt{position:relative}

.opt_group{}
.opt_group_label{margin:13px 0 3px 2px; cursor:pointer}
.opt_group_label small{font-size:10px; color:#222; text-decoration:underline; padding-left:10px; display:none}
.opt_group:hover .p_opt_group_label small{display:inline-block}

.option_select{padding:4px 4px 4px 10px; height:30px; font-size:13px; width:100%; border:1px solid #b7b7b7; background:#fff; margin:0 0 10px; vertical-align:middle}
.option_select.image_opt{display:none}

.qty_wrap select{padding:4px 4px 4px 10px; height:30px; font-size:13px; width:100%; border:1px solid #b7b7b7; background:#fff; margin:0 0 10px; vertical-align:middle}

.opt_vals{margin:0; padding:0 0 5px 20px; position:relative}
.opt_ico{display:block; float:left; height:30px; max-height:30px; padding:3px; margin:0 2px 2px 0; border:1px solid transparent; position:relative}
.opt_ico img{width:30px; max-width:30px; height:30px; max-height:30px; background:#f1f1f1f}
.opt_ico:hover{border-color:#333; text-decoration:none}
.opt_ico.current{border-color:#34AFB4}
.opt_ico .highlited, .p_opt_ico .highlited:after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; text-align:center}
.opt_ico .highlited:after{content:'\f00c'; font-family:'FontAwesome'; font-size:24px; line-height:36px; color:#fff}
.opt_ico .highlited{display:none}
.opt_ico.current .highlited{display:block}
.opt_orientation .p_opt_ico.current .highlited{display:none}

.option_label{display:block; padding:6px 0 4px 21px; position:relative;}
.option_label >input{position:absolute; top:4px; left:0; width:15px; height:15px; visibility:hidden}
.option_label >span{font-size:11px; display:inline-block}
.option_label >span:before{
    content:''; position:absolute; left:0; width:14px; height:14px; font-size:11px; border:1px solid #aaa; background:#fff; border-radius:3px; text-align:center; cursor:pointer
}
.option_label >input:checked + span{font-weight:bold}
.option_label >input:checked + span:before{content:'\2713'; background:#34afb4; border-color:#34afb4; color:#fff}
.option_label >input:disabled + span{color:#999}
.option_label >input:disabled + span:before{background:#ddd; border-color:#ccc}
.configurable-subbox .button-detail {
    border: solid 1px rgba(230,230,230,1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: rgba(165,165,165,1);
    text-transform: uppercase;
}
.button-detail:hover {
}
.button-detail:active {
}
.couch-setup{
    border: solid 1px rgba(230,230,230,1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: rgba(165,165,165,1);
    text-transform: uppercase;
}
.couch-setup:hover{border: solid 1px rgba(71,71,71,1);}
.couch-setup:active{border: solid 1px rgba(71,71,71,1)}
.cushion{
    color: #9f9f9f;
    font-size: 22px;
    margin: 0;
}
.cushion .customiser-step{

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#fff));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #000, #fff);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #000, #fff);

    /* IE 10 */
    background: -ms-linear-gradient(top, #000, #fff);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #000, #fff);
}

.cushion-button {border: solid 1px rgba(230,230,230,1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: rgba(165,165,165,1);
    text-transform: uppercase;}
.cushion-button:hover{border: solid 1px rgba(71,71,71,1);
    color: rgba(0,0,0,1);}


.your-custom-configuration .swatch-tooltip{position:absolute;margin-top:0;margin-left:10px;padding:8px;border:solid 1px #e5e5e5;
    background:#fff;
    top:0;right:100%;width:260px;min-height:322px;z-index:999;}
.your-custom-configuration .swatch-tooltip:before{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: -8px;
    margin-top: -6px;
    background:#fff url('../images/icon_arrow_right.png') no-repeat center left;
    width: 8px;
    height: 13px;
    background-size: 100%;
}
.your-custom-configuration  .swatch-tooltip img {width: 251px; height:189px;}
.your-custom-configuration  .swatch-tooltip .title{display:block;margin-top:10px;font-size:12px; font-weight: bold;}
.colors-row ul.product_couch_icons li a .checked{
  left: 14px;
  top: 12px;
}