@media only screen and (max-width: 78em) {
    .jcarousel-wrapper .jcarousel-control-prev,
    .jcarousel-wrapper .jcarousel-control-single-prev {
        left: -0.5rem
    }

    .jcarousel-wrapper .jcarousel-control-next,
    .jcarousel-wrapper .jcarousel-control-single-next {
        right: -0.5rem
    }
}

@media only screen and (max-width: 75em) {
    .home-social .home-social-inner {
        height: auto;
        padding: 0 0.5rem 0.5rem
    }

    .home-social .home-facebook {
        width: 14.5rem;
        float: none;
        margin: 0 auto;
    }

    .home-social .header-subscribe {
        padding: 0;
        border: 0;
        text-align: center
    }

    .home-social .header-subscribe label {
        float: none;
        display: block;
        padding: 0 0 0.625rem;
    }

    .home-social .header-subscribe .formbox {
        float: none;
    }

    .home-social .header-subscribe .formbox .input-box .input-text {
        width: 100%;
        text-align: center
    }
}

@media only screen and (max-width: 1025px) {
    .main-container .my-account .billing-agreements,
    .main-container .my-account .my-account-container,
    .main-container .my-account .recurring-profiles ,
    .main-container .my-account .content-review-customer
    {
        width: 100%;
    }
    .header-search-phone {
        padding: 1.25rem;
    }

    .header-search-phone .form-search {
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
        padding: 0.625rem 0;
        position: relative;
        width: 100%;
    }

    .header-search-phone .form-search input.input-text {
        background: none;
        border: 0;
        font-weight: 500;
        font-size: 1.75rem;
        height: 3.75rem;
        width: 100%;
        padding: 0.25rem 5.75rem 0.25rem 1.5rem;
    }

    .header-search-phone .form-search input.input-text:focus {
        background: none;
    }

    .header-search-phone .form-search .button {
        position: absolute;
        right: 0;
        top: 0.625rem;
        width: 4.25rem;
        z-index: 2;
        padding: 0;
        background-color: transparent;
    }

    .header-search-phone .form-search .button:hover,
    .header-search-phone .form-search .button:focus {
        background: none;
    }

    .header-search-phone .form-search .button span {
        background: url('../images/ico-search-responsive.png') no-repeat center center;
        border: 0;
        border-left: 2px solid #e3e3e3;
        height: 3.75rem;
        padding: 0;
        display: block;
    }

    .header-search-phone .form-search .button span span {
        display: none;
    }

    #header {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    #header .columns {
        height: 6.25rem;
        padding: 0;
    }

    #header .icon-menu {
        background: url('../images/ico-menu.png') no-repeat center center;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
        height: 100%;
        width: 6.25rem;
    }

    #header .header-cart {
        padding: 0;
        height: 100%
    }
    .top-link-navigation-mobile {
        float: right;
        padding-top: 33px;
    }
    .top-link-navigation-mobile .main-navigation {
        margin-top: 3px;
        float: left;
    }
    .top-link-navigation-mobile .toplinks li {
        float: left;
        padding-right: 5px;
    }
    .top-link-navigation-mobile .friend {display: none;}
    .top-link-navigation-mobile .toplinks li a {
        font-size: 13px;
    }
    .top-link-navigation-mobile .friend {
        padding-left: 30px;
        background: url("../images/icons_list.jpg") no-repeat -9px -823px transparent;
    }
    #header .btn-checkout {
        background: url('../images/ico-cart-phone.png') no-repeat center center;
        height: 100%;
        width: 6.25rem;
        position: relative;
        display: block
    }

    #header .btn-checkout-active {
        background-image: url('../images/ico-cart-phone-active.png');
    }

    #header .btn-checkout .label {
        border: 3px solid #fff;
        padding: 0;
        width: 2rem;
        text-align: center;
        font: 700 1.25rem/1.625rem "raleway", Arial, sans-serif;
        position: absolute;
        right: 0.875rem;
        top: 1.25rem;
    }

    .cartdrop {
        right: 0.625rem;
        padding-top: 0.4375rem
    }

    .cartdrop .arrowdrop {
        top: -0.125rem;
        right: 1.5rem;
    }

    .banner-slides-control li a {
        padding: 0.375rem 0.625rem 0;
    }

    .banner-slides-control li a img {
        float: none;
        display: block;
        margin: 0 auto
    }

    .banner-slides-control li a strong {
        padding-top: 0.25rem;
    }

    #footer .footer-links {
        overflow: hidden;
        padding-left: 0.75rem;
        float: none;
    }

    #footer .footer-links .box {
        width: 33.33%;
        border-right: 0;
        border-left: 1px dotted #dbdbdb
    }

    #footer .footer-links .box:first-child {
        border: 0
    }

    #footer .footer-links .box-last {
        width: 100%;
        border: 0;
        text-align: center;
        padding: 1.25rem 0 0;
    }

    #footer .footer-links .box-last h4 {
        text-transform: uppercase;
    }

    .category-products .sorter {
        width: 100%;
        padding-top: 0.375rem;
    }

    .category-products .sorter .limiter {
        float: left;
        margin: 0
    }

    .cart .cart-list {
        width: 100%;
    }

    .cart .cart-collaterals {
        margin-top: -1.875rem;
    }

    .onestepcheckout-index-index #header .logo {
        float: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem
    }

    .onestepcheckout-index-index #header .logo img {
        margin: 0 auto;
    }

    .contact-wrap .mw_faq {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 58em) {
    #banner-slides-container {
        top: 0
    }

    #banner-slides-container .banner-slides li a img {
        min-width: 68.75rem;
    }

    #banner-slides-container .orbit-container .orbit-prev,
    #banner-slides-container .orbit-container .orbit-next {
        margin-top: -1.875rem;
    }

    .banner-slides-control {
        display: none;
    }

    #banner-phone {
        display: block;
        margin-bottom: 1.625rem;
        border-top: 2px solid #e6e6e6;
        border-bottom: 2px solid #e6e6e6
    }

    #banner-phone .box2-set {
        overflow: hidden
    }

    #banner-phone .box2-set .box {
        float: left;
        width: 50%;
    }

    #banner-phone .box {
        background: url('../images/homecategory-gradient-bg.png') repeat-x left bottom;
        position: relative;
        height: 9.375rem;
        padding-left: 1.25rem;
    }

    #banner-phone .box .text-box {
        position: relative;
        z-index: 2
    }

    #banner-phone .box h3 {
        font-size: 3rem;
        line-height: 1.2em;
        margin: 0;
        padding: 3rem 0 0;
        overflow: hidden
    }

    #banner-phone .box h4 {
        font-size: 2.25rem;
        line-height: 1.2em;
        margin: 0;
        padding: 1.875rem 0 0;
        overflow: hidden;
    }

    #banner-phone .box h3 a {
        background: url('../images/arrow-homecategory.png') no-repeat right center;
        padding-right: 2.625rem;
    }

    #banner-phone .box h4 a {
        background: url('../images/arrow-homecategory-small.png') no-repeat right center;
        padding-right: 1.75rem;
    }

    #banner-phone .box p {
        font-size: 1.5rem;
        line-height: 1.2em;
    }

    #banner-phone .box img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1
    }

    #banner-phone .box .shadow-line-horizontal {
        background: url('../images/homecategory-horizontal-shadow.png') no-repeat center bottom;
        background-size: 100% auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2.5rem;
        z-index: 2
    }

    #banner-phone .box .shadow-line-vertical {
        background: url('../images/homecategory-vertical-shadow.png') no-repeat right center;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: 3.125rem;
        z-index: 2;
    }

    #banner-phone .bestsellers-box {
        background: #fff;
        height: 14.375rem;
    }

    #banner-phone .bestsellers-box p {
        font-size: 1.875rem;
    }

    #banner-phone .box-last {
        background: none;
        height: auto;
        border-top: 1px solid #e6e6e6;
    }

    #banner-phone .box-last h4 {
        padding: 1.875rem 0 !important;
    }

    #banner-phone .box-last h4 a {
        padding: 0;
        background: none;
    }

    .product-shop-bottom .estimate-shipping .formbox span {
        width: 100%;
        margin-bottom: 0.375rem;
    }

    .product-shop-bottom .estimate-shipping .formbox .input-shipping-code {
        margin-left: 0
    }

    .onestepcheckout-column-left, .onestepcheckout-column-middle {
        width: 50%
    }

    .onestepcheckout-column-middle {
        padding-right: 0.9375rem
    }

    .onestepcheckout-column-right {
        width: 100%;
        padding-left: 0.9375rem;
        margin-top: 1.5rem;
    }

    .onestepcheckout-threecolumns ul.form-list li .input-firstname, .onestepcheckout-threecolumns ul.form-list li .input-lastname, .onestepcheckout-threecolumns ul.form-list li .input-region, .onestepcheckout-threecolumns ul.form-list li .input-postcode, .onestepcheckout-threecolumns #onestepcheckout-li-password .input-password {
        width: 100%;
    }

    .onestepcheckout-threecolumns ul.form-list li .input-firstname, .onestepcheckout-threecolumns ul.form-list li .input-region, .onestepcheckout-threecolumns #onestepcheckout-li-password .input-password:first-child {
        margin: 0 0 0.75rem;
    }

    .onestepcheckout-threecolumns .onestepcheckout-summary table td.a-img {
        width: 6.75rem
    }

    #our-quality .subdetail {
        width: 9rem
    }

    #our-quality .subdetail1,
    #our-quality .subdetail2 {
        margin-left: -23rem
    }

    #bhs-quality ul li .stepinfo {
        width: 13rem;
    }

    #packaging-shipping .f-left {
        margin-right: 1rem;
    }

    #packaging-shipping .f-right {
        margin: 0 0 0 1rem;
    }
}

@media only screen and (max-width: 52em) {
    .product-title h2 {
        padding: 1.25rem 0;
    }

    .magellan-container {
        display: none;
    }

    .magellan-phoneview {
        display: block;
        float: left;
        width: 100%;
        border-top: 1px solid #e6e6e6;
    }

    .magellan-phoneview .sub-nav {
        margin: 0;
        padding: 0;
    }

    .magellan-phoneview .sub-nav dd {
        width: 100%;
        margin: 0;
    }

    .magellan-phoneview .sub-nav dd a {
        background: #f7f7f7;
        border-bottom: 1px solid #dedede;
        display: block;
        font: 700 1.5rem/1.2em "raleway", Arial, sans-serif;
        color: #000;
        padding: 0 1.25rem;
    }

    .magellan-phoneview .sub-nav dd a:hover {
        background: #88cc00;
        border-color: #7ab700;
        color: #fff;
    }

    .magellan-phoneview .sub-nav dd a strong {
        background: url('../images/magellan-arrow.png') no-repeat right center;
        display: block;
        padding: 1.25rem 1.75rem 1.25rem 0;
    }

    .magellan-phoneview .sub-nav dd a:hover strong {
        background: url('../images/magellan-arrowactive.png') no-repeat right center;
    }

    .product-essential .columns {
        width: 100%;
    }

    .col1-layout .product-view .product-shop {
        border: 0;
        padding-top: 1.875rem
    }

    #configurable-options {
        padding: 0;
    }

    .colors-row ul {
        padding: 0 0.25rem;
    }

    .product-shop .product-options,
    .product-shop .product-options-bottom {
        padding-left: 0
    }

    .product-options-bottom .add-to-cart {
        text-align: center
    }

    .product-options-bottom .add-to-cart label {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .product-options-bottom .add-to-cart .quantity-formbox {
        float: none;
        display: inline-block;
        max-width: 4.75rem;
    }

    .product-shop-bottom {
        padding: 0.625rem 0 1.25rem;
        border-left: 0;
        text-align: center
    }

    .product-shop-bottom .estimate-shipping .formbox {
        text-align: center
    }

    .product-shop-bottom .estimate-shipping .formbox .input-shipping-code {
        float: none;
        display: inline-block;
        vertical-align: top
    }

    .product-shop-bottom .quantity-formbox {
        max-width: 6.625rem;
        float: none;
        display: inline-block
    }

    .product-shop-bottom .rating {
        margin: 0 auto
    }

    .addthis_sharing_toolbox {
        margin-left: auto;
        margin-right: auto
    }

    .product-collateral .columns {
        width: 100%;
    }

    .product-collateral .product-description {
        padding-right: 0
    }

    .product-collateral .product-description p {
        text-align: justify;
    }

    .product-collateral .product-details {
        padding-left: 0
    }

    .product-collateral .product-details ul li {
        font-size: 0.875rem;
    }

    .product-collateral .product-details img {
        margin: 0.75rem auto 0;
        display: block
    }

    .product-customers .product-reviews .columns,
    .product-customers .questions-answers .columns {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .product-customers .product-reviews .columns:last-child,
    .product-customers .questions-answers .columns:last-child {
        margin-bottom: 0;
    }

    .product-customers .product-reviews p {
        text-align: center;
    }
    .colors-row ul#product_color_icons li {
        position: relative;
    }
    .colors-row ul li .swatch-tooltip {
        right: auto;
        left: -12px;
        width: 100px;
        top: 33px;
        min-height: 150px;
    }

    .colors-row ul li .swatch-tooltip img {
        float: none;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
    }

    .colors-row ul li .swatch-tooltip .cross-img {
        background: url('../images/cross-viewcolour-horizontal.png') no-repeat center top;
        height: 0.625rem;
        width: 5rem;
        left: 0;
        top: 2.5rem;
    }

    .colors-row ul li .swatch-tooltip .title {
        position: static;
        padding: 0.25rem 0.375rem 0.375rem;
    }

    #login-form .col {
        width: 100%;
        max-width: 37.5rem;
        float: none;
        margin: 0 auto;
    }

    #login-form .registered-users {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 48em) {
    .my-account .box-account.box-recent {
        padding: 2px;
    }
    .customer-account-index .main-container .my-account .my-account-container {
        padding: 0;
    }
    .main-container .my-account .data-table thead th,.main-container .my-account .data-table tbody td {
        font-size: 12px;
        padding: 0;
    }
    .my-account .dashboard .welcome-msg {
        margin-right: 0;
    }
    #banner-slides-container .banner-slides li a img {
        min-width: 56.25rem;
    }

    .home-features {
        margin: 0;
        background: none;
        padding-bottom: 2rem;
    }

    .home-features::before {
        display: none;
    }

    .home-features .headtitle {
        display: block
    }

    .home-features .details h3 {
        display: none;
    }

    #footer .footer-links {
        padding-left: 0;
    }

    #footer .footer-links .box-last {
        padding-top: 2.5rem;
    }

    #footer .footer-links .box h4 {
        text-transform: uppercase;
        font-size: 1em;
    }

    #footer .footer-links .box strong.tel {
        font-size: 2em
    }

    #footer .footer-links .box strong {
        font-size: 0.875rem
    }

    .page-title h1, .page-title h2 {
        font-weight: 500;
        text-transform: none;
    }

    .category-title h2 {
        margin-right: 8rem;
    }
    .catalogsearch-result-index  .category-title h2 {
        margin-right: 0;
    }
    .category-title .filter-link {
        background: #006d7d;
        border: 1px solid #005966;
        color: #fff;
        display: block;
        float: right;
        margin: 2rem 0 0;
        border-radius: 5px;
        padding: 0.5rem 1.25rem;
        font-size: 1.875rem;
        line-height: 1.2em;
        font-weight: 700;
    }

    .category-products .products-topbar {
        display: none;
        padding: 0;
    }

    .category-products .products-topbar .columns {
        padding: 0;
    }

    .category-products .sorter {
        padding: 0.625rem;
        border-top: 1px solid #e6e6e6;
    }

    .layered-nav {
        width: 100%;
        padding: 0.5rem 0;
        position: relative;
        z-index: 9999;
        background: #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #ebebeb));
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #ebebeb 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #ebebeb 100%);
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #ebebeb 100%);
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #ebebeb 100%);
        background-image: linear-gradient(top, #FFFFFF 0%, #ebebeb 100%);
    }

    .layered-nav .actions-box {
        display: none;
    }

    .layered-nav .layered-list {
        float: none;
        text-align: center;
        font-size: 0
    }

    .layered-nav .layered-list .item {
        display: inline-block;
        float: none;
        margin: 0;
    }

    .layered-nav .item {
        position: static
    }

    .layered-nav .item .item-title {
        background: none;
        cursor: pointer
    }

    .layered-nav .item .item-title span {
        padding: 0 1.125rem;
        border: 1px solid transparent;
    }

    .layered-nav .item.active .item-title span {
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        background: #727272;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #727272), color-stop(1, #adadad));
        background-image: -o-linear-gradient(top, #727272 0%, #adadad 100%);
        background-image: -moz-linear-gradient(top, #727272 0%, #adadad 100%);
        background-image: -webkit-linear-gradient(top, #727272 0%, #adadad 100%);
        background-image: -ms-linear-gradient(top, #727272 0%, #adadad 100%);
        background-image: linear-gradient(top, #727272 0%, #adadad 100%);
    }

    .layered-nav .item .item-drop {
        left: 0;
        margin: 0;
        border: 0;
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .layered-nav .item .item-drop li {
        text-align: left;
        border-top: 1px solid #e6e6e6;
        border-bottom: 0;
        padding: 0.75rem;
    }

    .layered-nav .item .item-drop li a, .layered-nav .item .item-drop li .value {
        width: 85%
    }

    .layered-nav .item .item-drop li strong {
        width: 15%;
    }

    .layered-nav .item .item-drop .clear-link {
        border-top: 1px solid #e6e6e6;
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 0.8125rem;
        padding: 0.75rem;
        text-align: center;
        text-transform: uppercase;
    }

    .catalog-category-view .main-container,
    .catalogsearch-result-index .main-container {
        padding-bottom: 0
    }

    .products-grid li.item {
        width: 50%;
    }

    .products-grid li.item:nth-child(2) {
        border: 0
    }

    .products-grid li.item:nth-child(3) {
        clear: left;
    }

    .category-products-search {
        background: #f2f2f2 url('../images/search-responsive-bg.png') repeat-x center bottom;
        padding: 1.25rem;
        width: 100%;
    }

    .category-products-search label {
        display: none
    }

    .category-products-search .form-search {
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
        padding: 0.625rem 0;
        position: relative;
        width: 100%;
    }

    .category-products-search .form-search input.input-text {
        background: none;
        border: 0;
        font-weight: 500;
        font-size: 1.75rem;
        height: 3.75rem;
        width: 100%;
        padding: 0.25rem 5.75rem 0.25rem 1.5rem;
    }

    .category-products-search .form-search input.input-text:focus {
        background: none;
    }

    .category-products-search .form-search .button {
        position: absolute;
        right: 0;
        top: 0.625rem;
        width: 4.25rem;
        z-index: 2
    }

    .category-products-search .form-search .button:hover,
    .category-products-search .form-search .button:focus {
        background: none;
    }

    .category-products-search .form-search .button span {
        background: url('../images/ico-search-responsive.png') no-repeat center center;
        border: 0;
        border-left: 2px solid #e3e3e3;
        height: 3.75rem;
        padding: 0;
    }

    .category-products-search .form-search .button span span {
        display: none;
    }

    #our-quality .detailsimg .number {
        display: block;
        position: absolute;
        left: 50%;
    }

    #our-quality .detailsimg .number1 {
        top: 7.5rem;
        margin-left: -11.75rem;
    }

    #our-quality .detailsimg .number2 {
        top: 16.875rem;
        margin-left: -11.75rem;
    }

    #our-quality .detailsimg .number3 {
        top: 6rem;
        margin-left: 10.625rem;
    }

    #our-quality .detailsimg .number4 {
        top: 12.375rem;
        margin-left: 10.625rem;
    }

    #our-quality .detailsimg .number5 {
        top: 18.875rem;
        margin-left: 10.625rem;
    }

    #our-quality .subdetail {
        position: static;
        width: auto;
        margin: 1rem auto 0;
        max-width: 27rem;
    }

    #our-quality .subdetail h4 strong {
        display: inline-block;
        margin-right: 0.25rem;
    }

    #our-quality .videosbox ul li {
        padding: 0 0.5rem;
    }

    #bhs-quality ul li .stepinfo {
        width: 9.25rem;
    }

    #packaging-shipping .f-left {
        margin-right: 0.5rem;
        width: 30%;
        min-width: 10rem
    }

    #packaging-shipping .f-right {
        margin: 0 0 0 0.5rem;
        width: 15%;
        min-width: 5rem;
    }
}

@media only screen and (max-width: 40em) {
    .top-link-navigation-mobile {padding-top: 0;  margin-top: -6px;}

    .header-search-phone,
    .category-products-search {
        padding: 0.625rem;
    }
    .header-search-phone {
        padding-bottom: 0;
    }
    .header-search-phone .form-search,
    .category-products-search .form-search {
        padding: 0.25rem 0;
    }

    .header-search-phone .form-search input.input-text,
    .category-products-search .form-search input.input-text {
        font-size: 0.875rem;
        height: 1.875rem;
        padding: 0.25rem 3rem 0.25rem 0.75rem;
    }

    .header-search-phone .form-search .button,
    .category-products-search .form-search .button {
        width: 2.25rem;
        top: 0.25rem;
        padding: 0;
        background-color: transparent;
    }

    .header-search-phone .form-search .button span,
    .category-products-search .form-search .button span {
        background: url('../images/ico-search.png') no-repeat center center;
        border-width: 1px;
        height: 1.875rem;
    }

    #header .columns {
        height: 4.625rem
    }

    #header .icon-menu {
        background-size: 24px 24px;
        width: 2.75rem;
    }

    #header .btn-checkout {
        background-size: 34px 26px;
        width: 3.625rem;
    }

    #header .btn-checkout .label {
        font-size: 1rem;
        line-height: 1.125rem;
        width: 1.5rem;
        right: 0.25rem;
        top: 0.875rem
    }

    .cartdrop .arrowdrop {
        right: 0.5rem;
    }

    #header .logo {
        margin: -10px 0 0 -128px;
    }

    #header .logo img {
        height: 24px;
    }

    .move-right > .inner-wrap {
        -ms-transform: translate(15.625rem, 0);
        -webkit-transform: translate3d(15.625rem, 0, 0);
        -moz-transform: translate3d(15.625rem, 0, 0);
        -ms-transform: translate3d(15.625rem, 0, 0);
        -o-transform: translate3d(15.625rem, 0, 0);
        transform: translate3d(15.625rem, 0, 0);
    }

    .left-off-canvas-menu {
        width: 15.625rem;
    }

    .left-off-canvas-menu li a {
        font-size: 0.875rem;
    }

    .left-off-canvas-menu .nav-links li a,
    .left-off-canvas-menu .toplinks li a {
        padding: 0.9375rem 0.625rem;
    }

    #banner-slides-container .banner-slides li a img {
        min-width: 46rem;
    }

    #banner-phone .box h3 {
        font-size: 2.5rem;
        line-height: 1.2em;
        margin: 0;
        padding: 3rem 0 0;
        overflow: hidden
    }

    #banner-phone .box h4 {
        font-size: 1.875rem;
        line-height: 1.2em;
        padding-top: 2.25rem;
    }

    #banner-phone .box p {
        font-size: 1.125rem;
    }

    #banner-phone .bestsellers-box p {
        font-size: 1.375rem;
    }

    .category-title h2 {
        margin-right: 6.625rem;
    }
    .catalogsearch-result-index  .category-title h2 {
        margin-right:0;
    }
    .category-title .filter-link {
        font-size: 1.25rem;
        margin-top: 2.75rem;
    }

    .pager .pages .previous, .pager .pages .next {
        width: 3.75rem;
    }

    .magellan-phoneview .sub-nav dd a {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0 0.875rem
    }

    .magellan-phoneview .sub-nav dd a strong {
        padding: 0.375rem 1.75rem 0.375rem 0;
        background-size: auto 40%;
    }

    .magellan-phoneview .sub-nav dd a:hover strong {
        background-size: auto 40%;
    }

    .cart .cart-title .btn-proceed-checkout {
        margin: 0
    }

    .cart .cart-list {
       /* background: url('../images/double-line.png') repeat-x center bottom;*/
        padding-bottom: 1rem
    }

    .cart #shopping-cart-table {
        margin: 0
    }

    .cart #shopping-cart-table .a-img, .cart #shopping-cart-table .col-mobile {
        display: none
    }

    .cart #shopping-cart-table td {
        padding-right: 0;
    }

    .cart #shopping-cart-table td.a-shipping {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .cart .cart-icos {
        display: none
    }

    .cart .cart-collaterals {
        margin-top: 1.5rem;
    }

    .cart .cart-collaterals .checkout-types {
        padding: 0.625rem;
    }

    .cart .cart-collaterals .checkout-types .btn-proceed-checkout {
        width: 100%;
    }

    .contact-wrap .contact-info {
        border-top: 1px solid #ebebeb;
        text-align: center;
        padding-top: 1.875rem;
    }

    .tooltip.tip-top > .nub {
        border-color: transparent transparent #7ccc00 transparent
    }

    #bhs-quality .artichoke,
    #bhs-quality .egg-chair {
        text-align: center;
    }

    #bhs-quality .titlebox img,
    #bhs-quality .egg-chair .titlebox img {
        float: none;
        margin-left: auto;
        margin-right: auto
    }

    #bhs-quality .titlebox h3,
    #bhs-quality .egg-chair .titlebox h3 {
        float: none;
        padding-top: 0.875rem;
    }

    #bhs-quality ul li {
        text-align: center
    }

    #bhs-quality ul li img,
    #bhs-quality .egg-chair ul li img {
        float: none;
        margin-bottom: 0.875rem;
    }

    #bhs-quality ul li .stepinfo,
    #bhs-quality .egg-chair ul li .stepinfo {
        float: none;
        text-align: center;
        width: auto;
        height: 6.5rem;
    }

    #bhs-quality .egg-chair .buy-link {
        float: none;
    }

    #after-care .inner-textbox {
        background-position: center top;
        padding-top: 9rem;
    }

    #after-care .inner-textbox .col {
        width: 100%;
    }

    #after-care .inner-textbox .col-last {
        background: url('../images/dotted-line.png') repeat-x center top;
        padding-top: 1.75rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 36em) {
    .my-account .page-title h1 {
        padding-top: 0.5rem;
        font-size: 2rem;
    }
    .my-account .box-account.box-recent {
        padding: 0;
    }
    .my-account .dashboard .column {
        padding-right: 5px;
        padding-left: 5px;
    }
    .my-account .data-table thead th .nobr {
        white-space: normal!important;
    }
    .main-container .my-account .data-table thead th,.main-container .my-account .data-table tbody td {
        font-size: 12px;
        padding: 0;
    }
    .main-container .my-account .data-table thead th .nobr,.main-container .my-account .data-table tbody td .nobr {
        white-space: normal!important;
    }
    .headtitle h3 {
        font-size: 1.5rem;
    }

    .headtitle h3 strong {
        font-size: 0.75rem;
    }

    .home-features li .columns {
        width: 100%;
        text-align: center !important;
    }

    .home-features li .image img {
        max-width: 12.5rem;
    }

    .home-features .details {
        margin-top: 0.625rem;
    }

    .home-features .details h3 {
        padding-bottom: 0.875rem;
        margin-bottom: 1.25rem;
    }

    #footer .footer-links {
        padding-top: 0
    }

    #footer .footer-links .box {
        padding: 1.25rem 0 0 0;
        border: 0;
        width: 50%;
    }

    #footer .footer-links .box-last {
        text-align: left
    }

    #footer .footer-links .box strong.tel {
        font-size: 1.375rem
    }

    #footer .footer-links .box strong {
        font-size: 0.625rem
    }

    .layered-nav .layered-list .customer-rating-item {
        display: none;
    }

    .products-grid li.item {
        padding: 0 0.75rem 0.625rem
    }

    .onestepcheckout-column-left, .onestepcheckout-column-middle {
        width: 100%;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem
    }

    .onestepcheckout-column-middle {
        margin-top: 1.5rem
    }

    #review-quality .videobox {
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    #review-quality .textbox {
        width: 100%
    }
}

@media only screen and (max-width: 30em) {
    .top-link-navigation-mobile .toplinks li a , .top-link-navigation-mobile .friend a{
        font-size: 10px;
    }
    .column, .columns {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .row .row {
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }

    #header .logo {
        margin: -10px 0 0 -107px;
    }

    #header .logo img {
        height: 20px;
    }

    .home-social .header-subscribe label {
        font-size: 1rem
    }

    .home-products .products-grid li {
        margin: 0;
        border: 0;
        text-align: center
    }

    .home-products .products-grid li .price-box {
        margin-top: 1rem;
    }

    #banner-phone .box2-set .box {
        width: 100%;
        border-bottom: 1px solid #e6e6e6
    }

    #banner-phone .box-last {
        border-top: 0
    }

    #banner-phone .box h3 {
        padding-top: 1.75rem;
    }

    #banner-phone .box h3 a {
        background: none;
        padding: 0
    }

    #banner-phone .box2-set .box h4 {
        margin-bottom: 0.5rem;
    }

    #banner-phone .box2-set .box p br {
        display: none;
    }

    .layered-nav .item .item-title {
        font-size: 0.8125rem
    }

    .layered-nav .item .item-title span {
        padding: 0 0.5rem;
    }

    .category-products .sorter .limiter,
    .category-products .sorter .sort-by {
        width: 47%;
    }

    .category-products .sorter select {
        width: 100%
    }

    .category-products .sorter .sort-by select {
        margin: 0;
    }

    .cart-title {
        padding: 1rem 0;
        text-align: center
    }

    .cart-title h2 {
        width: 100%;
        margin: 0 0 0.375rem
    }

    .cart-title .checkout-types {
        width: 100%;
    }

    .cart #shopping-cart-table td {
        background: none;
      /*  display: inline-block*/
    }

    .cart #shopping-cart-table td.a-details {
        width: 100%;
        padding-bottom: 0
    }

    .cart #shopping-cart-table .first td.a-details {
        background: none !important;
    }

    .cart #shopping-cart-table td.a-shipping {
        display: block;
        width: 100%;
        padding: 0.625rem 0 0 0;
    }

    .cart #shopping-cart-table td.a-center {
        width: auto;
        padding-right: 0;
    }
    .checkout-cart-index #shopping-cart-table td .product-name a {
        font-size: 12px;
    }
    .checkout-cart-index .data, .checkout-cart-index #shopping-cart-table td .price {
        font-size: 11px!important;
    }
    .cart #shopping-cart-table td.a-right {
        float: right;
        width: auto
    }

    .buttons-set button.button {
        width: 100%;
        padding: 20px;
        text-align: center;
        margin: 0
    }

    .buttons-set a, .buttons-set .back-link {
        width: 100%;
        line-height: 1.2em;
        margin-top: 0.625rem;;
        text-align: center
    }

    #our-quality .detailsimg {
        max-width: 17.75rem;
    }

    #our-quality .detailsimg .number {
        font-size: 0.875rem;
    }

    #our-quality .detailsimg .number1 {
        top: 4.875rem;
        margin-left: -8.125rem;
    }

    #our-quality .detailsimg .number2 {
        top: 11.125rem;
        margin-left: -8.125rem;
    }

    #our-quality .detailsimg .number3 {
        top: 3.875rem;
        margin-left: 6.875rem;
    }

    #our-quality .detailsimg .number4 {
        top: 8.125rem;
        margin-left: 6.875rem;
    }

    #our-quality .detailsimg .number5 {
        top: 12.375rem;
        margin-left: 6.875rem;
    }

    #our-quality .videosbox ul li {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    #our-quality .note {
        margin: 0;
    }

    #bhs-quality .artichoke,
    #bhs-quality .egg-chair {
        width: 100%;
    }

    #bhs-quality .egg-chair {
        background: url('../images/dotted-line.png') repeat-x center bottom;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    #bhs-quality .titlebox img,
    #bhs-quality .egg-chair .titlebox img {
        margin-top: 0
    }

    #bhs-quality ul li .stepinfo,
    #bhs-quality .egg-chair ul li .stepinfo {
        height: auto;
        padding-bottom: 1.25rem;
    }

    #packaging-shipping .f-right {
        float: left !important;
        margin: 0 0.5rem 0 0;
    }

    #packaging-shipping .f-left {
        margin: 0;
    }
   .cd-user-modal .cd-user-modal-container {
        width: auto;
        max-width: 400px;
    }
    .box-account.box-info .col2-set .col-1, .box-account.box-info .col2-set .col-2{
        width: 100%;
    }
    .my-account .dashboard  .my-account-container .welcome-msg {
        margin:0;
        margin-bottom: 10px;
    }
    .my-account .form-list li.fields .field {
        width: 100%;
    }
}

@media only screen and (max-width: 23.75em) {
    .main-container .my-account .data-table thead th,.main-container .my-account .data-table tbody td {
        font-size: 10px;
    }
    .main-container .my-account .data-table thead th .nobr,.main-container .my-account .data-table tbody td .nobr {
        white-space: normal!important;
    }
    #header .icon-menu {
        background-size: 18px 18px;
        width: 2.375rem;
    }

    #header .btn-checkout {
        background-size: 26px 20px;
        width: 3rem;
    }

    #header .btn-checkout .label {
        border-width: 2px;
        font-size: 0.75rem;
        line-height: 1rem;
        width: 1.25rem;
        top: 1.125rem
    }

    .cartdrop {
        right: 0.25rem;
        width: 18.25rem;
    }

    #header .logo {
        margin: -9px 0 0 -96px;
    }

    #header .logo img {
        height: 18px;
    }

    #banner-slides-container .banner-slides li a img {
        min-width: 36rem;
    }

    #banner-phone .box2-set .box p br {
        display: block
    }

    .home-features {
        background: url('../images/dotted-line.png') repeat-x center top;
        padding-bottom: 1.5rem;
        margin: 1.5rem 0;
    }

    .home-features::before {
        display: block;
    }

    .home-features .headtitle {
        background: none;
    }

    .page-title h1, .page-title h2 {
        font-size: 2.25rem;
        line-height: 1.2em;
    }

    .category-title .filter-link {
        margin-top: 2.375rem;
    }

    .layered-nav .item .item-title {
        font-size: 0.75rem;
    }

    .products-grid li.item {
        width: 100%;
        border: 0;
        text-align: center
    }

    .product-customers .box-shadow-inner {
        padding: 1.25rem 0.75rem;
    }

    .cart .cart-collaterals {
        width: 100%;
    }

    .cart .cart-collaterals .shipping-cost-form,
    .cart .cart-collaterals #coupon-formbox {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    #packaging-shipping .f-right {
        float: right !important
    }

    #packaging-shipping .textbox {
        clear: both;
        padding-top: 0.625rem;
    }
}

@media only screen and (max-width: 20em) {
}