a:focus { outline: none; }
.search-autocomplete{
}

div.searchautocomplete-search div.resultbox {
    display: none;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-top: 0;
    border-radius: 0;
}

div.default div.searchautocomplete-search {
    width: 100%;
}

div.default div.searchautocomplete-search div.searchbox:hover input {
    color: #000000;
}

div.default div.searchautocomplete-search div.searchbox input:focus {
    color: #000000;
}

div.default div.searchautocomplete-search div.searchbox input {
    width: 84px;
    height: 15px;
    padding: 3px 0px 0px 0px;
    border: none;
    outline: none;
    background: none;
    float: left;
    color: #646464;
    font-size: 11px;
}

div.default div.searchautocomplete-search div.searchbox button {
    width: 18px;
    height: 18px;
    padding: 0px;
    border: none;
    float: left;
    cursor: pointer;
    line-height: 0px;
}

div.default div.searchautocomplete-search div.searchbox button.search-magnifier {
    background: url(images/magnifier_icon.png) 0 0 no-repeat;
}

button.search-close {
    background: #EDEDED;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    margin-top: 2px;
    padding: 0 0 2px 2px;
    border: none;
    float: right;
    cursor: pointer;
    line-height: 0px;
    border-radius: 8px;
    display: none !important;
}

div.default div.searchautocomplete-search div.searchbox button.search-loader {
    background: url(images/loader_icon.gif) 0 0 no-repeat;
}

div.default div.searchautocomplete-search div.resultbox {
    position: relative;
    z-index: 10;
    width: 100% !important;
}
div.default div.searchautocomplete-search div.resultbox-b {
    text-align: center;
    padding: 10px 0 5px;
    margin: 30px 0 10px;
}
.resultbox-b a.button {padding-top: 0.6rem; padding-bottom: 0.6rem;}
div.default div.searchautocomplete-search a.search-more {
    cursor: pointer;
    color: #ffffff;
}


div.default div.searchautocomplete-search h3.search-header {
    margin: 0;
    text-align: left;
    padding: 5px 0px 5px 5px;
    line-height: 25px;
    color: #ed6d23;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

div.default div.searchautocomplete-search .resultbox-bg a h3 {
    margin: 0px;
    font-size: 110%;
    color: #323232;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: 0px;
}

div.default div.searchautocomplete-search .search-results div.searchautocomplete-row {
    min-height: 30px;
}

div.default div.searchautocomplete-search .resultbox-bg div.searchautocomplete-row {
    padding: 5px 10px 5px 10px;
    background: #FAFAFA;
    display: block;
    font-size: 11px;
    line-height: 140%;
    overflow: hidden;
}

.header .form-search .search-autocomplete li {
    cursor: default;
}

input.spinner, input.spinner:focus {
    background-repeat: no-repeat !important;
    background-position: 80% center !important;
    background-image: url(images/spinner.gif) !important;
}

.search-results{
    padding: 4px 4px 0;
}

.search-container{
    border-top: 1px dashed #dcdcdc;
    padding: 5px 3px 0 3px;
}

.hr_line {
    color: #cccccc;
    width: 97%;    
}

.div_line {
    background-color:#ffffff;    
}

.span_item {
    margin: 0 2px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    color: #A3A3A3;
    width: 100%;
}
.suggest-product{
    padding-top: 5px;
    max-height: 280px;
    overflow: auto;
}
.s_item {
    cursor: pointer;
    overflow: hidden;
    padding: 0 5px 0 5px;
    font-size: 12px;
}
.s_item:nth-child(odd){

}
.s_item .image{
	float: left;
}
.s_details {
	overflow: hidden;
	padding: 10px 0;
}
.s_details .name {
    font-weight:700; 
    font-size: 14px;
    line-height: 1.25em;
    display: block
}
.s_details .product-material{
	font-size: 12px;
	margin: 0;
}
.s_details .product-material span:last-child{display: none;}
.s_pstars {width:75px; border:0; height:13px;}
.s_item_name {
    float: left;
    width: 30%;
}
.s_item_name img{
    width: 100%;
}
.s_description {
    float: left;
    width: 70%;
    padding-left: 10px;
}
.s_description a{
    font-size: 13px;
}
.s_description .s_description_item{
    font-size: 11px;
    color: #767676;
}
.s_price {padding-top:3px; color: #C76200;}
.s_pprice {width: 68px; float:left; padding-top:3px; padding-right:5px;}
.s_pprice a {color:black; margin-right:5px;}
.s_pprice a:visited {color:black;}
.s_pprice a:hover {text-decoration:none; color:black;}
.s_button img {height:18px; width:88px; border:0;}
.s_rem_email {font-size:10px;}

.s_catitem {background-color: #FFFAD2; height:40px;}
.s_catitem .s_item_name {font-size:13px;}
.s_catitem .s_icon img {height:40px; width:40px;}

.header .form-search div.s_button button.button span {
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF;
    display: block;
    font: 700 12px/19px "raleway",Arial,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}

.s_ratings { 
    font-size:11px; 
    line-height:1.25;
    margin:7px 0; 
    width: 70px;
    float: left; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.s_ratings .rating-box {float:left; margin-right:3px;}

a.a_review {color: #1E7EC8 !important;}

highlight {
    color: #101010 !important;
    font-weight: 700;
}