<aside class="left-off-canvas-menu">
  <ul class="nav-links">
    <li class="level0">
      <a href="http://dev.crafted.furniture/new.html"><span>NEW</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/sofas.html"><span>Sofas</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/chairs.html"><span>Chairs</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/tables.html"><span>Tables</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/office.html"><span>Office</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/by-designer.html"><span>By Designer</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/by-designer.html"><span>Join</span></a>
    </li>
    <li class="level0">
      <a href="http://dev.crafted.furniture/by-designer.html"><span>Sign In</span></a>
    </li>
  </ul>
</aside>
